// Pulled in from “legacy” layout doc.
:root {
  $page-spacing:                       2.4rem;
  $page-spacing--landscape:            1.6rem;
  $page-spacing--nonmobile:            2 * $page-spacing;
  $page-spacing--nonmobile--landscape: 2 * $page-spacing--landscape;

  --rem-conversion:      0.1rem;  // Rem conversion. No Math!
  --tracking-conversion: 0.001em; // Convert from Adobe tracking points (thousandths-of-an-em).

  --page-spacing:          #{$page-spacing};
  --page-spacing--fixed:   #{$page-spacing};

  --page-width--extension: 0rem;
  --page-width--layout:    calc(var(--page-width--visible) - var(--page-spacing--fixed) * 2);
  --page-width--maximum:   #{$breakpoint__nonmobile--3};
  --page-width--visible:   calc(100vw - var(--scrollbar-width, 0rem)); // vw does not account for scrollbar.

  --rights-maximum:        200rem;

  --uneven-column-width--side: calc((var(--page-width--layout) - var(--page-spacing--fixed) * 2) / 3);                          // 1/3 without gutters.
  --uneven-column-width--main: calc(var(--page-width--layout) - var(--uneven-column-width--side) - var(--page-spacing--fixed)); // Less another gutter.

  @include breakpoint--landscape {
    --page-spacing: #{$page-spacing--landscape};
  }

  @include breakpoint($breakpoint__nonmobile) {
    --page-spacing:        #{$page-spacing--nonmobile};
    --page-spacing--fixed: #{$page-spacing--nonmobile};

    @include breakpoint--landscape {
      --page-spacing: #{$page-spacing--nonmobile--landscape};

      @include breakpoint--height($breakpoint__tall) {
        --page-spacing: #{$page-spacing--nonmobile};
      }
    }
  }

  @include breakpoint($breakpoint__nonmobile--3) {
    --page-width--layout:    calc(var(--page-width--maximum) - var(--page-spacing--fixed) * 2);
    --page-width--extension: calc((var(--page-width--visible) - var(--page-width--maximum)) / 2);
  }

  @include breakpoint($breakpoint__max) {
    --page-width--extension: calc((var(--rights-maximum) - var(--page-width--maximum)) / 2);
  }
}



// --page-spacing for vertical, --page-spacing--fixed for horizontal.
@mixin __page-spacing($atom: $atom, $variant-direction: $variant-direction) {
  @if $atom == "width" {
    #{$variant-limit}#{$atom}: calc(var(--page-spacing--override, var(--page-spacing--fixed)) * #{$variant-count});
  }
  @else if $atom == "height" {
    #{$variant-limit}#{$atom}: calc(var(--page-spacing--override, var(--page-spacing)) * #{$variant-count});
  }
  @else {
    @if $variant-direction {
      @if $variant-direction == "-left" or $variant-direction == "-right" {
        #{$atom}#{$variant-direction}: calc(var(--page-spacing--override, var(--page-spacing--fixed)) * #{$variant-count});
      }
      @else {
        #{$atom}#{$variant-direction}: calc(var(--page-spacing--override, var(--page-spacing)) * #{$variant-count});
      }
    }
    @else {
      #{$atom}-bottom: calc(var(--page-spacing--override, var(--page-spacing)) * #{$variant-count});
      #{$atom}-left:   calc(var(--page-spacing--override, var(--page-spacing--fixed)) * #{$variant-count});
      #{$atom}-right:  calc(var(--page-spacing--override, var(--page-spacing--fixed)) * #{$variant-count});
      #{$atom}-top:    calc(var(--page-spacing--override, var(--page-spacing)) * #{$variant-count});
    }
  }
}



%__margins-auto {
  margin-left:  auto;
  margin-right: auto;
}

%__page-width {
  max-width: var(--page-width--maximum);
  width:     var(--page-width--visible);
}



.layout {
  @include atom(circle) {
    --border-radius: 50%;

    border-radius: var(--border-radius);
  }



  @include atom(wrapper) {
    @extend %__margins-auto;
    @extend %__page-width;

    padding-left:  var(--page-spacing--fixed);
    padding-right: var(--page-spacing--fixed);

    @include variant(extension) {
      @include variant(left, right) {
        padding-#{$variant}: var(--page-width--extension);
      }
    }

    @include variant(bleed) {
      @extend %__margins-auto;
      @extend %__page-width;
    }

    @include variant(rights-maximum) {
      @extend %__margins-auto;

      max-width: var(--rights-maximum);
      width:     100%;
    }
  }



  @include atom-breakpoints {
    %__#{$atom-breakpoint}page-spacing--reset {
      --page-spacing--override: initial;
    }

    %__#{$atom-breakpoint}typography--previous {
      --layout--typography--size:    var(--typography--size--previous);
      --layout--typography--leading: var(--typography--leading--previous);
    }

    %__#{$atom-breakpoint}typography--reset {
      --layout--typography--size:    initial;
      --layout--typography--leading: initial;
    }



    @include atom(var) {
      @include atom(page) { // Overrides.
        @include variant(fixed) {
          --page-spacing--override: var(--page-spacing--fixed);

          > * { // Reset for descendants.
            @extend %__#{$atom-breakpoint}page-spacing--reset;
          }
        }

        @include variant(flexible) {
          --page-spacing--override: var(--page-spacing);

          > * { // Reset for descendants.
            @extend %__#{$atom-breakpoint}page-spacing--reset;
          }
        }

        @include variant(clear) {
          @extend %__#{$atom-breakpoint}page-spacing--reset;
        }
      }

      @include atom(baseline, cap) {
        @include variant(previous) {
          @extend %__#{$atom-breakpoint}typography--previous;

          > * { // Reset for descendants.
            @extend %__#{$atom-breakpoint}typography--reset;
          }
        }

        @include variant(current) {
          @extend %__#{$atom-breakpoint}typography--reset;
        }

        @if $atom == "baseline" {
          @include variant(exact) {
            --layout--typography--leading-shoulder--override: 0rem;
          }
        }
      }
    }



    @include atom(block, flow-root, inline-block, none) {
      display: #{$atom};
    }

    @include atom(flex) {
      $flex: &;

      display: flex;

      @include variant(column, row) {
        @extend #{$flex};

        $direction: $variant;

        flex-direction: #{$variant};

        @include variant(reverse) {
          @extend #{$flex};

          flex-direction: #{$direction}-#{$variant};
        }
      }

      @include variant(center) {
        @extend #{$flex};

        align-items:     center;
        justify-content: center;
      }

      @include variant(start, end) {
        align-items: flex-#{$variant};
      }

      @include variant(justify) {
        justify-content: space-between;

        @include variant(clear) {
          justify-content: normal;
        }
      }

      @include variant(nowrap, wrap) {
        flex-wrap: #{$variant};
      }

      @include variant(grow, shrink) {
        $direction: $variant;

        flex-#{$direction}: 1;

        @include variant(enable) {
          @extend #{$variant-parent};
        }

        @include variant(disable) {
          flex-#{$direction}: 0;
        }

        @include variant(clear) {
          flex-#{$direction}: initial;
        }
      }
    }

    @include atom(float) {
      @include variant(left, none, right) {
        float: #{$variant};
      }
    }

    @include atom(clear) {
      @include variant(both, left, none, right) {
        clear: #{$variant};
      }

      @include variant(fix) {
        &:after {
          clear:   both;
          content: "";
          display: block;
        }
      }
    }



    @include atom(fixed, relative, sticky) {
      position: #{$atom};
    }

    @include atom(absolute) {
      position: #{$atom};

      @include variant(center) {
        @extend #{$variant-parent};

        left:      50%;
        top:       50%;
        transform: translate(-50%, -50%);
      }
    }

    @include atom(top, right, bottom, left) {
      @include variant-percentages(0, 50, 100) {
        #{$atom}: #{$variant-percentage};
      }
    }



    @include atom(z-index) {
      @include variant-count(-1, 10, $halves: false) {
        --z-index: #{$variant-count};

        z-index: var(--z-index);
      }
    }



    @include atom(visible) {
      opacity:    1;
      visibility: visible;
    }

    @include atom(invisible) {
      opacity:    0;
      visibility: hidden;
    }

    @include atom(overflow) {
      @include variant(auto, hidden, visible) {
        overflow: #{$variant};
      }
    }

    @include atom(scroll) {
      -webkit-overflow-scrolling: touch;

      @include variant(horizontal) {
        @extend #{$variant-parent};

        overflow-x: auto;
        overflow-y: hidden;
      }

      @include variant(vertical) {
        @extend #{$variant-parent};

        overflow-x: hidden;
        overflow-y: auto;
      }

      @include variant(clear) {
        overflow-x: visible;
        overflow-y: visible;
      }
    }



    @include atom(border) {
      @include variant-directions {
        $strokes: 1, 2, 3, 4, 8;

        @include variant-list($strokes, $variant-suffix: "pt") {
          border#{$variant-direction}-color: var(--color);
          border#{$variant-direction}-style: solid;
          border#{$variant-direction}-width: calc(var(#{$variant-item}) * var(--rem-conversion));
        }

        @include variant(clear) {
          border#{$variant-direction}-color: initial;
          border#{$variant-direction}-style: initial;
          border#{$variant-direction}-width: initial;
        }
      }
    }



    // This trick only works when width-constrained, but that is most of the time.
    @include atom(ratio) {
      @include variant-ratios {
        --ratio: #{$variant-ratio};

        padding-top: calc(1 / var(--ratio) * 100%);
        position:    relative;

        > iframe, > img, > div, > picture { // Immediate child fills the container.
          bottom:   0;
          height:   100%;
          left:     0;
          position: absolute;
          right:    0;
          top:      0;
          width:    100%;
        }
      }
    }



    // Size for layout.
    %__#{$atom-breakpoint}typography--size {
      --layout--typography--font-size: var(--layout--typography--size, var(--typography--size)) * var(--rem-conversion); // Separate internal calculations for spacing.
    }

    // Maths for sequential baselines.
    %__#{$atom-breakpoint}typography--baseline {
      @extend %__#{$atom-breakpoint}typography--size;

      --layout--typography--line-height:      var(--layout--typography--leading, var(--typography--leading)) * var(--layout--typography--font-size); // Same.
      --layout--typography--leading--between: var(--layout--typography--font-size) * (var(--layout--typography--leading, var(--typography--leading)) - 1); // Same.
      --layout--typography--shoulder:         var(--layout--typography--font-size) * var(--typography--shoulder); // Same.

      --layout--typography--leading-shoulder: calc(var(--layout--typography--leading--between) + var(--layout--typography--shoulder));
    }

    // Cap-heights.
    %__#{$atom-breakpoint}typography--cap {
      @extend %__#{$atom-breakpoint}typography--size;

      --layout--typography--cap-height: calc(var(--typography--cap-height) * var(--layout--typography--font-size)); // Calc a cap-height.
    }



    @include atom(height, width) {
      @include variant-limits {
        @if $atom == "width" {
          @include variant-percentages {
            #{$variant-limit}#{$atom}: #{$variant-percentage};
          }
        }
        @else {
          @include variant-percentages(0, 100) {
            #{$variant-limit}#{$atom}: #{$variant-percentage};
          }
        }

        @include variant(page) {
          @include variant-count(4) {
            @include __page-spacing;
          }
        }

        @include variant(baseline) {
          @include variant-count(4) {
            @extend %__#{$atom-breakpoint}typography--baseline;

            // Subtract a shoulder.
            #{$variant-limit}#{$atom}: calc((var(--layout--typography--line-height) * #{$variant-count}) - var(--layout--typography--leading-shoulder--override, var(--layout--typography--leading-shoulder)));
          }
        }

        @include variant(cap) {
          @include variant-count(3) {
            @extend %__#{$atom-breakpoint}typography--cap;

            #{$variant-limit}#{$atom}: calc(var(--layout--typography--cap-height) * #{$variant-count});
          }
        }

        @include variant(clear) { // Reset any of them.
          #{$variant-limit}#{$atom}: initial;
        }
      }
    }



    @include atom(margin, padding) {
      @include increase-specificity(2) { // To allow for overriding sequential paragraph spacing (.typography + .typography) which is `0,2,0`.
        @include variant-directions {
          #{$atom}#{$variant-direction}: var(#{__css-var(first-selector(&))}); // Allow for inlining.

          @include variant(page) {
            @include variant-count(-4, 4) {
              @include __page-spacing;
            }
          }

          @include variant(baseline) {
            @include variant-count(-4, 4) {
              @extend %__#{$atom-breakpoint}typography--baseline;

              // Add the leading/shoulder.
              #{$atom}#{$variant-direction}: calc((var(--layout--typography--line-height) * #{$variant-count}) + var(--layout--typography--leading-shoulder--override, var(--layout--typography--leading-shoulder)));
            }
          }

          @include variant(cap) {
            @include variant-count(3) {
              @extend %__#{$atom-breakpoint}typography--cap;

              #{$atom}#{$variant-direction}: calc(var(--layout--typography--cap-height) * #{$variant-count});
            }
          }

          @include variant(clear) { // Reset any of them.
            #{$atom}#{$variant-direction}: initial;
          }
        }
      }
    }
  }
}
