@include atom-block(hero) {
  @include atom(var) {
    --hero--height--image--ceiling: var(--hero--height--image);
    --hero--height--image--floor:   18rem; // 16:9 video at 320.
    --hero--height--image:          calc(var(--page-width--visible) * 3/4); // 4:3;
    --hero--height--info--floor:    29.2rem; // Two primary, one secondary title lines.
    --hero--height--info:           var(--hero--height--info--floor);

    @include breakpoint--landscape {
      // TODO pull the vh var in here somehow?
      --hero--height--image:       calc(var(--visible-height--initial, 100vh) - var(--page-spacing) * 2); // Viewport-based.
      --hero--height--info--floor: 16.8rem; // One line primary, one line secondary title.
    }

    @include breakpoint($breakpoint__nonmobile) {
      --hero--height--image--floor: 43.2rem; // 16:9 video at 768.
      --hero--height--info--floor:  34rem; // Two lines of primary title.
      --hero--height--info:         calc(var(--visible-height--initial, 100vh) - var(--page-spacing) * 10); // Viewport-based.

      @include breakpoint--height($breakpoint__tall) {
        --hero--height--image--ceiling: var(--hero--height--image);
        --hero--height--image:          66.6rem; // 16:9 video at 1184.
        --hero--height--info:           44rem; // Stop growing past 900.
      }
    }
  }

  @include atom(info) {
    min-height: var(--hero--height--info);

     // This has to be separate/nested since the min-height above is viewport-based on nonmobile.
    @include variant(floor) {
      min-height: var(--hero--height--info--floor);
    }
  }

  @include atom(image) {
    height:     var(--hero--height--image);
    min-height: var(--hero--height--image--floor);

    // Our embeds return with these old classes, so cap them as-is for now.
    .ratio-container__square,
    .ratio-container__1-1,
    .ratio-container__4-3,
    .ratio-container__16-9 {
      max-height: var(--hero--height--image);
      min-height: var(--hero--height--image--floor);
    }

    // This solves some bad pixel rounding, made apparent by the adjacent containers.
    .ratio-container__inner,
    .ratio-container__inner > iframe {
      $extension: 0.1rem;

      height:    calc(100% + #{$extension * 2});
      left:     -$extension;
      overflow:  hidden;
      position:  absolute;
      top:      -$extension;
      width:     calc(100% + #{$extension * 2});
    }


    @include variant(fallback) {
      img {
        --picture--max-height: var(--hero--height--image--ceiling);
      }

      // Our embeds return with these old classes, so cap them as-is for now.
      .ratio-container__square,
      .ratio-container__1-1,
      .ratio-container__4-3,
      .ratio-container__16-9 {
        max-height: var(--hero--height--image--ceiling);
        min-height: var(--hero--height--image--floor);
      }
    }
  }
}
