:root {
  // MoMA Sans.
  --typography--cap-height: 0.75; // Inherent to MoMA Sans. In em.
  --typography--x-height:   0.559;

  --typography--shoulder:         calc(1 - var(--typography--cap-height)); // Remainder/overhang.
  --typography--shoulder--top:    calc(var(--typography--shoulder) - var(--typography--shoulder--bottom));
  --typography--shoulder--bottom: 0.101; // Vertical centering in Chrome’s bounding box, across most sizes.

  --typography--shift--cap: calc(var(--typography--shoulder) / 2);  // For centering on caps.
  --typography--shift--x:   calc((1 - var(--typography--x-height)) / 2);

  // Some base/defaults.
  --typography--size: 10;

  --typography--leading--previous: var(--typography--leading); // Until it’s not.
  --typography--size--previous:    var(--typography--size);
}



// Variable cascade control.
@mixin type-variable($variable, $value) {
  #{$variable}: $value;

  // Only for smaller size variables. (All these shenanigans are just for more-efficient compiled CSS.)
  @if $variable == "--typography--size" and $value >= 16 and $value <= 24 {
    @if type-of($variant) == "string" { // Named sizes have their own/internal breakpoints.
      @if $breakpoint == null { // Match to mobile.
        @extend %__typography--icon-aliasing;
        @extend %__typography--icon-aliasing--high;
      }
      @else { // Match to nonmobile.
        @extend %__#{$breakpoint-prefix}nonmobile#{$breakpoint-delimiter}typography--icon-aliasing;
      }
    }
    @else {
      @if $breakpoint == null { // First call, outside media query.
        @include atom-breakpoints {
          .#{$atom-breakpoint}#{strip-selector(&)} {
            @extend %__#{$atom-breakpoint}typography--icon-aliasing; // Match to media-query-specific extends, below.

            @if str-index(#{$atom-breakpoint}, "nonmobile") == null {
              @extend %__#{$atom-breakpoint}typography--icon-aliasing--high; // Even higher densities for mobile.
            }
          }
        }
      }
    }
  }

  + * { // Makes value available to succeeding elements.
    #{$variable}--previous: $value;
  }
}



// Weights.
%__regular {
  --typography--bullet:             0.280; // See below.
  --typography--icon--space:        0.649;
  --typography--icon--stroke:       0.076;
  --typography--inset--left:       -0.097;
  --typography--inset--right:      -0.074;
  --typography--tracking:           0;
  --typography--underline--clear:   0.075;
  --typography--underline--inset:  -0.081;
  --typography--underline--offset:  0.120;
  --typography--underline:          0.075;
  --typography--weight:             400;
}

:root, %__bold {
  --typography--bullet:             0.305; // Square matching the area of the bullet character.
  --typography--icon--space:        0.444; // Two spaces between two uppercase “M”, for icon separation.
  --typography--icon--stroke:       0.149; // Thickness of right-arrow icon stem.
  --typography--inset--left:       -0.071; // Optical insets, at Bold weight. Left edge of capital "M".
  --typography--inset--right:      -0.035; // Right edge of lowercase “m” (since lines tend to end lowercase).
  --typography--tracking:          -0.020; // Tracked in.
  --typography--underline--clear:   0.100; // Can’t exceed narrowest descender width, with this shadow implementation.
  --typography--underline--inset:  -0.059; // Left edge of lowercase “m” (since links tend to start lowercase).
  --typography--underline--offset:  0.056; // Distance down from baseline. Lines up to bottom of descenders.
  --typography--underline:          0.133; // Height of crossbar on capital “E”.
  --typography--weight:             900;   // Direct map to font stylesheet.
}



// Baselines.
%__body {
  @include type-variable(--typography--leading, 4/3);

  --typography--descenders: 0.231; // Lowest descender from the baseline: Ģ (“latin capital letter G with cedilla”).

  --typography--scale--minor: #{abs(8/9)}; // Smaller text on same baseline. (The abs is for SCSS to render as a decimal.)
  --typography--scale--major: #{abs(4/3)}; // Slightly larger.
  --typography--scale--prime: 2;           // Largest.

  @include breakpoint($breakpoint__nonmobile) {
    --typography--scale--prime: #{abs(8/3)}; // This is the “correct” scale, on desktop.
  }
}

:root, %__solid {
  --typography--leading: 1;

  --typography--scale--minor: #{abs(3/4)};
  --typography--scale--major: 1.5;
  --typography--scale--prime: 2;

  --typography--scale--clear: initial;

  --typography--ascenders:  0.330; // Highest ascender from the top of a capital “M”: Ẵ (“latin capital letter A with breve and tilde”).
  --typography--descenders: 0.200; // Max distance below baseline before the next line’s common ascenders are visible, clears a “j”. TODO: This shows ascenders at size:medium.

  @include breakpoint($breakpoint__nonmobile) {
    --typography--scale--major: 2;
    --typography--scale--prime: 3;
  }
}



%__nowrap, .nowrap, moma-nowrap, nobr { // Legacy class/element coverage.
  white-space: nowrap;
}

%__icon {
  @extend %color__svg--alpha !optional; // Optional flag, as external MoMA Sans file doesn’t get this?

  --typography--icon--inset: -0.156; // Optical “safe area” in embedded SVGs.

  --typography--icon--margin:       calc(var(--typography--icon--inset) *  1em); // Same.
  --typography--icon--space--width: calc(var(--typography--icon--space) *  1em); // Render the actual values.
  --typography--icon--stroke-width: calc(var(--typography--icon--stroke) * 1em); // Same.

  height:        var(--typography--font-size);
  margin-bottom: calc(-1 * var(--typography--font-size) * var(--typography--icon--shift--override, var(--typography--icon--shift))); // Vertical centering.
  margin-left:   var(--typography--icon--margin--left);
  margin-right:  var(--typography--icon--margin--right);
  margin-top:    calc(var(--typography--margin--bottom) + var(--typography--margin--top)); // Match shoulder “height” from type.
  stroke-width:  var(--typography--icon--stroke-width);
  transform:     translate(var(--typography--icon--translate-x, 0), var(--typography--icon--translate-y, 0)) rotate(var(--typography--icon--rotate, 0)); // X/Y shift for aliasing tweaks.
  width:         var(--typography--font-size);
}

%__underline--disable {
  background:  initial;
  text-shadow: initial;
}



// Base class to be applied to all paragraph elements.
.typography {
  // Basic weight/spacing, so it can be extended separately.
  @include atom(face) {
    --typography--tracking--override:   var(--typography--tracking); // Allows reset/clear.
    --typography--letter-spacing:       calc(var(--typography--tracking--override, var(--typography--tracking)) * 1em); // Render the actual values.

    --typography--margin--left:         calc(var(--typography--inset--left) *  1em);
    --typography--margin--right:        calc(var(--typography--inset--right) * 1em);

    --typography--underline--margin:    calc(var(--typography--underline--inset) *  1em);
    --typography--underline--clearing:  calc(var(--typography--underline--clear) *  1em);
    --typography--underline--thickness: calc(var(--typography--underline) *         1em);
    --typography--underline--top:       calc(var(--typography--underline--offset) * 1em);

    --typography--bullet--size:         calc(var(--typography--bullet) *  1em);

    font-weight:    var(--typography--weight);
    letter-spacing: var(--typography--letter-spacing);

    // For language-specific tweaks (when not mixed with latin/Sans characters).
    @include variant(ja, ko, zh-hans, zh-hant) {
      @extend #{$variant-parent};

      @extend %__tracking--cjk;
    }

    @at-root { // Here for ordering/efficiency.
      %__tracking--cjk {
        --typography--tracking--override: 0;
      }
    }
  }

  @at-root {
    #{__selector-list(&)} { // So these basic calculations can be extended.
      @extend #{__placeholder("typography/face")};

      --typography--size--rendered:     var(--typography--size--override, var(--typography--size)) * var(--rem-conversion); // Render the actual value.

      --typography--font-size:          calc(var(--typography--scale, 1) * var(--typography--size--rendered)); // Map to property.
      --typography--line-height:        calc(var(--typography--leading) *  var(--typography--size--rendered)); // Calculated exactly (not em/relative) to allow for scaled/super/subscript type sizes.

      --typography--leading--remainder: calc((var(--typography--leading) - 1) / 2);                                     // Internal variables to keep things tidy.
      --typography--shift:              calc((var(--typography--shoulder) + var(--typography--shoulder--top)) * (1 - var(--typography--scale))); // Hard to grok, but basically pushes down the remainder of the scale. Zeroes out at 1x.

      --typography--leading--bottom:    calc(var(--typography--shoulder--bottom) + var(--typography--leading--remainder) + var(--typography--shift, 0));
      --typography--leading--top:       calc(var(--typography--shoulder--top) +    var(--typography--leading--remainder) - var(--typography--shift, 0));

      --typography--margin--bottom:     calc(-1 * var(--typography--leading--bottom) * var(--typography--size--rendered)); // Total space below—also rendered exactly for scaling.
      --typography--margin--top:        calc(-1 * var(--typography--leading--top) *    var(--typography--size--rendered)); // And above.

      color:          var(--color);
      display:        flow-root; // Need to have this for the negative margins to work properly. Falls back to block on older browsers.
      font-size:      var(--typography--font-size);
      line-height:    var(--typography--line-height);
      margin-left:    var(--typography--margin--left);
      margin-right:   var(--typography--margin--right);
      max-width:      calc(100% - var(--typography--margin--left) - var(--typography--margin--right) + var(--rem-conversion)); // Forces wrapping in flex containers, with a pixel for rounding cover.
      overflow-wrap:  break-word; // Prevent container-breaking.

      // Pseudo-elements to negate the shoulders.
      &:before,
      &:after {
        content: '';
        display: block;
      }

      &:before {
        // Pulls bounding box down to cap-height, unless there is a shift.
        margin-top: calc(var(--typography--margin--top) - (var(--typography--margin--top--shift, 0) * var(--typography--size--rendered)));
      }

      &:after {
        margin-bottom: var(--typography--margin--bottom); // Pulls bounding box up to baseline.
      }
    }
  }

  // Classless links inside typography elements (usually from rendered markdown). On by default.
  a {
    @extend #{__placeholder("link/focus:inline")} !optional; // This doc can be used without links.
    @extend #{__placeholder("typography/underline")};
  }

  // Targeting for sequential type elements.
  & + & {
    @extend %__typography--baseline;

    margin-top: var(--layout--typography--leading-shoulder); // Equivalent to .layout/margin:top:baseline:0.
  }

  @include atom(var) {
    // Weights.
    @include atom(weight) {
      @include variant(regular, bold) { // If you need to redeclare the root/defaults.
        @extend %__#{$variant};
      }
    }

    // Baselines.
    @include atom(baseline) {
      @include variant(body, solid) { // If you need to redeclare the root/defaults.
        @extend %__#{$variant};
      }
    }

    // Icon shift overrides.
    @include atom(icon) {
      @include variant(cap) {
        --typography--icon--shift--override: var(--typography--shift--cap);
      }

      @include variant(x) {
        --typography--icon--shift--override: var(--typography--shift--x);
      }
    }

    @include atom(top) {
      @include variant(cap) {
        --typography--margin--top--shift: initial;

      }
      @include variant(x) {
        --typography--margin--top--shift: calc(var(--typography--cap-height) - var(--typography--x-height)); // Bring bounding box down to x-height.
      }
    }
  }



  // Wrapping.
  @include atom(no-wrap) {
    @extend %__nowrap;
  }

  // Underlines.
  @include atom(underline) {
    background-image:    linear-gradient(to var(--typography--underline--direction, bottom), var(--color), var(--color) var(--typography--underline--thickness), transparent var(--typography--underline--thickness)); // Gradient going down, type color to transparent, over the underline thickness distance.
    background-position: left calc(-1 * var(--typography--underline--margin)) var(--typography--underline--position, top calc(var(--typography--underline--top) + 1em)); // Centered left/right, starting vertically at the baseline.
    background-repeat:   no-repeat; // Prevent top/bottom from looping back over.
    background-size:     calc(100% + var(--typography--underline--margin) + var(--typography--margin--right)) 100%; // Larger offsets would need a negative margin/padding on the bottom, but this covers us for now.
    text-shadow: // Clear the descenders, if we know the background color.
      var(--background-color) var(--typography--underline--clearing) 0, // “East”
      var(--background-color) var(--typography--underline--clearing) calc(var(--typography--underline--clearing) / 3), // “Southeast”
      var(--background-color) 0 calc(var(--typography--underline--clearing) / 3), // “South”
      var(--background-color) calc(-1 * var(--typography--underline--clearing)) calc(var(--typography--underline--clearing) / 3), // “Southwest”
      var(--background-color) calc(-1 * var(--typography--underline--clearing)) 0, // “West”
      var(--background-color) calc(-1 * var(--typography--underline--clearing)) calc(-1 * var(--typography--underline--clearing) / 3), // “Northwest”
      var(--background-color) 0 calc(-1 * var(--typography--underline--clearing) / 3) // “North”
      ;

    @at-root {
      #{first-selector(&)}.typography { // Don’t extend this part.
        --typography--underline--direction: top; // Drawn from the bottom of the container, going to top.
        --typography--underline--offset:    3;
        --typography--underline--position:  bottom;

        padding-bottom: calc(var(--typography--underline--thickness) + ((var(--typography--leading) - 1) + var(--typography--shoulder)) * 1em + var(--typography--underline--top));
        margin-bottom: calc(-1 * (var(--typography--underline--thickness) + ((var(--typography--leading) - 1) + var(--typography--shoulder)) * 1em + var(--typography--underline--top)));
      }
    }

    @include variant(disable) { // TODO Messy extend with `show-focus` stuff, also double-nested links.
      &.typography {
        a:not([class]) { // Markdown descendants.
          @extend %__underline--disable;
        }
      }

      &:not(.typography) {
        @extend %__underline--disable;
      }
    }
  }

  // Tabular numbers.
  @include atom(tabular-numbers) {
    font-variant-numeric: tabular-nums; // Number width.
  }

  // Icons.
  @include atom(icon) {
    @include variant(before, after) {
      @include variant-rotations {
        @extend %__icon;

        --typography--icon--rotate: #{$variant-rotation};

        @if $variant == 'before' {
          --typography--icon--margin--left:  calc(var(--typography--icon--margin) - var(--typography--margin--left)); // Remove the optical text shift and icon inset.
          --typography--icon--margin--right: calc(var(--typography--icon--margin) + var(--typography--margin--left) + var(--typography--icon--space--width)); // Add text shift back on inside, plus a space.
          --typography--icon--shift:         var(--typography--shift--cap);
        }
        @else {
          --typography--icon--margin--left:  calc(var(--typography--icon--margin) + var(--typography--margin--right) + var(--typography--icon--space--width));
          --typography--icon--margin--right: calc(var(--typography--icon--margin) - var(--typography--margin--right));
          --typography--icon--shift:         var(--typography--shift--x);
        }
      }
    }
  }

  // Code blocks.
  @include atom(code) {
    --typography--code--corner:  0.1em;  // Soften it a bit.
    --typography--code--padding: calc(var(--typography--line-height) * 0.2); // Left/right inset related to baseline.
    --typography--shift:         0.06; // Ballparking Courier to MoMA Sans baseline.

    // Duplicated these in from color atoms, so typography can be used independently.
    --background-color--alpha:   0.07;
    --background-color:          rgba(var(--color--rgb), var(--background-color--alpha, 1));

    background-color: var(--background-color);
    font-family:      Courier, monospace;
    letter-spacing:   normal;
    padding-left:     var(--typography--code--padding);
    padding-right:    var(--typography--code--padding);
    white-space:      pre-wrap;  // Preserve whitespace, but allow lines to break.

    &.typography {
      margin-left:   calc(-1 * var(--typography--code--padding) + var(--typography--margin--left)); // Offset the padding.
      margin-right:  calc(-1 * var(--typography--code--padding) + var(--typography--margin--right));
      width:         auto; // So the background does not fill the full width.

      &:before,
      &:after {
        background-color: var(--background-color); // Extend the fill.
        margin-left:      calc(-1 * var(--typography--code--padding));
        width:            calc(100% + var(--typography--code--padding) * 2);
      }

      &:before {
        border-top-left-radius:  var(--typography--code--corner);
        border-top-right-radius: var(--typography--code--corner);
        height:                  calc(-1 * var(--typography--margin--top));
        margin-bottom:           var(--typography--margin--top); // Counter the height.
      }

      &:after {
        border-bottom-left-radius:  var(--typography--code--corner);
        border-bottom-right-radius: var(--typography--code--corner);
        height:                     calc(-1 * var(--typography--margin--bottom));
        margin-top:                 var(--typography--margin--bottom);
      }
    }

    // When on a descendant (as in Markdown).
    &:not(.typography) {
      border-radius: var(--typography--code--corner);
      display:       inline-block;
      margin-bottom: calc(-1 * var(--typography--shift) * var(--typography--font-size));
      margin-top:    calc(var(--typography--shift) * var(--typography--font-size));

      pre > & {
        margin-left:   calc(-1 * var(--typography--code--padding)); // Offset the padding.
        margin-right:  calc(-1 * var(--typography--code--padding));
      }
    }
  }



  @include atom-breakpoints {
    // Icon aliasing tweaks.
    %__#{$atom-breakpoint}typography--icon-aliasing {
      --typography--icon--translate-x: -0.5px;
      --typography--icon--translate-y: -0.5px;

      @include retina(2) {
        --typography--icon--translate-x: -0.25px;
        --typography--icon--translate-y: -0.25px;
      }
    }

    %__#{$atom-breakpoint}typography--icon-aliasing--high {
      @include retina(3) {
        --typography--icon--translate-x: -0.1666667px;
        --typography--icon--translate-y: -0.1666667px;
      }

      @include retina(4) {
        --typography--icon--translate-x: -0.125px;
        --typography--icon--translate-y: -0.125px;
      }
    }



    // Truncation.
    @include atom(truncate) {
      @include variant-count(1, 6) {
        @extend #{__placeholder("#{$atom-breakpoint}layout/height:max:baseline:clear")};

        #{__css-var(#{$atom-breakpoint}--layout--height--max--baseline)}: #{$variant-count}; // Constrain the height.

        --typography--shoulder-extension--bottom:  calc(var(--typography--descenders) * 1em);
        --typography--shoulder-extension--top:     calc(var(--typography--ascenders) *  1em);

        -webkit-box-orient:  vertical;          // This is kind of like column.
        -webkit-line-clamp:  #{$variant-count}; // For modern browsers, applies the ellipsis.
        box-sizing:          content-box;       // Reset margin/padding outside.
        display:            -webkit-box;        // This is kind of like flex.
        margin-bottom:       calc(-1 * (var(--typography--shoulder-extension--bottom) + var(--typography--shoulder-extension--top))); // Eat the space below.
        overflow:            hidden;
        padding-bottom:      var(--typography--shoulder-extension--bottom); // Space below.
        padding-top:         var(--typography--shoulder-extension--top);    // Space above.
        transform:           translateY(calc(-1 * var(--typography--shoulder-extension--top))); // Shift back up.

        > * {
          box-sizing: border-box; // Margin/padding inside, if there are any children (links and such).
        }
      }
    }


    // Per-breakpoint variables.
    @include atom(var) {
      // Scales.
      @include atom(scale) {
        @include variant(minor, down, clear, up, major, prime) {
          --typography--scale: var(--typography--scale--#{$variant});

          @if $variant == "major" or $variant == "prime" {
            @extend %__#{$atom-breakpoint}scaled-solid;
          }

          @if $variant == "down" or $variant == "up" {
            @include variant(1) { // One notch up.
              @extend #{$variant-parent};
            }
          }

          @if $variant == "down" {
            @include variant(2) { // Two notches down.
              --typography--scale: var(--typography--scale--down--#{$variant});
            }
          }
        }

        @at-root { // Here for ordering/efficiency.
          %__#{$atom-breakpoint}scaled-solid {
            --typography--line-height: var(--typography--font-size); // Set solid, at the larger size.

            --typography--shift: calc(var(--typography--shoulder--bottom) * (var(--typography--scale) - 1) - var(--typography--leading--remainder)); // Shift to original baseline.
          }
        }
      }
    }
  }
}



// // Example type size atoms.
// .typography\/var\/size {
//   @include variant(small) {
//     @include type-variable(--typography--size, 18);
//   }
//   @include variant(medium) {
//     @include type-variable(--typography--size, 24);
//   }
// }



// Example DOM, in “line-break” style. Atom classes are alphabetized. 'balance-text' is the only non-type atom we’d see on a paragraph element.
// <p
//   class="
//     balance-text
//     typography
//     typography/var/baseline:body
//     typography/var/size:small
//     typography/var/weight:regular
//     "
//   >
//   Lorem ipsum color sit amet.
// </p>
