// Atoms for existing sizes.
.typography {
  @include atom(var) {
    @include atom(size) {
      $small:                        14; // Pulled in from “legacy” type doc.
      $small--nonmobile:             16;
      $medium:                       16;
      $medium--nonmobile:            18;
      $large:                        18;
      $large--nonmobile:             22;
      $extra-large:                  24;
      $extra-large--nonmobile:       40;
      $extra-extra-large:            32;
      $extra-extra-large--nonmobile: 60;

      $hero:                       36; // Nav-ish.
      $hero--nonmobile:            80;
      $hero--secondary:            $hero / 2; // 2:1 type relationship.
      $hero--secondary--nonmobile: $hero--nonmobile / 2;
      $hero--short:                $extra-large * 2;  // Double “legacy” XL.
      $hero--short--nonmobile:     $extra-extra-large--nonmobile * 2; // Double XXL.

      @include variant(small) {
        @include type-variable(--typography--size, $small); // SCSS can’t dynamically generate/use variable names, thus the repetition.

        @include breakpoint($breakpoint__nonmobile) {
          @include type-variable(--typography--size, $small--nonmobile);
        }
      }

      @include variant(medium) {
        @include type-variable(--typography--size, $medium);

        @include breakpoint($breakpoint__nonmobile) {
          @include type-variable(--typography--size, $medium--nonmobile);
        }
      }

      @include variant(large) {
        @include type-variable(--typography--size, $large);

        @include breakpoint($breakpoint__nonmobile) {
          @include type-variable(--typography--size, $large--nonmobile);
        }
      }

      @include variant(extra-large) {
        @include type-variable(--typography--size, $extra-large);

        @include breakpoint($breakpoint__nonmobile) {
          @include type-variable(--typography--size, $extra-large--nonmobile);
        }
      }

      @include variant(extra-extra-large) {
        @include type-variable(--typography--size, $extra-extra-large);

        @include breakpoint($breakpoint__nonmobile) {
          @include type-variable(--typography--size, $extra-extra-large--nonmobile);
        }
      }

      @include variant(hero) {
        @include type-variable(--typography--size, $hero);

        @include breakpoint($breakpoint__nonmobile) {
          @include type-variable(--typography--size, $hero--nonmobile);
        }
      }

      @include variant(hero--secondary) {
        @include type-variable(--typography--size, $hero--secondary);

        @include breakpoint($breakpoint__nonmobile) {
          @include type-variable(--typography--size, $hero--secondary--nonmobile);
        }
      }

      @include variant(hero--short) {
        @include type-variable(--typography--size, $hero); // No change at mobile 1, too narrow.

        @include breakpoint($breakpoint__mobile--1-5) {
          @include type-variable(--typography--size, $hero--short);
        }

        @include breakpoint($breakpoint__nonmobile) {
          @include type-variable(--typography--size, $hero--short--nonmobile);
        }
      }
    }

    // Discrete sizes available at our breakpoints.
    @include atom-breakpoints {
      @include atom(size) { // Repeated because atom-breakpoints assumes one level of hierarchy.
        @include variant(12, 14, 16, 18, 20, 22, 24, 30, 32, 36, 40, 48, 60, 80, 120) {
          @include type-variable(--typography--size, $variant);
        }
      }
    }
  }
}
