@function __css-var($selector) {
  $delimiters: #{$breakpoint-delimiter}, #{$variant-delimiter}, #{$atom-delimiter};

  $selector: strip-selector($selector);                                 // Toss class selector (period).
  $selector: str-replace($selector, #{$breakpoint-prefix}, "");         // Nix breakpoint prefix.
  $selector: str-replace-multiple($selector, #{$variant-decimal}, "-"); // With decimal breaks/values, use a single hyphen.
  $selector: str-replace-multiple($selector, $delimiters, "--");        // Double hyphens for rest.
  $selector: str-replace-multiple($selector, "----", "--");             // But not four, that’d be crazy.

  @if str-index(#{$selector}, "--") == 1 {
    @return #{$selector};
  }
  @else {
    @return --#{$selector};
  }
}

@function __fallback-list($list, $append: null) {
  $fallback: nth($list, 1);

  @each $item in $list {
    $index: index($list, $item);

    @if $index > 1 {
      $fallback: var(#{__css-var($item)}, #{$fallback});
    }
  }

  @return $fallback;
}



@mixin variant($variants...) {
  $selector-stem:      first-selector(&);
  $selector-remainder: remove-first-selector(&);
  $variant-original:   $variant; // Store the original variant.
  $variant-parent:     & !global;

  @each $variant in $variants {
    @if $variant == & { // Render base, if needed (min/max, top/right/bottom/left, etc.)
      $variant:          null !global; // Pass back to the call site.
      $variant-modifier: null !global;

      @content;
    }
    @else { // Render proper variants (:yada).
      $variant:          $variant !global; // Pass back to the call site.
      $variant-selector: #{$selector-stem}#{$variant-delimiter}#{$variant}#{$selector-remainder}; // Make the new selector.

      // Back out at root, so we aren’t nesting extends.
      @at-root {
        #{__selector-list($variant-selector)} {
          @content;
        }
      }
    }
  }

  $variant: $variant-original !global; // Restore original variant.
}



@mixin variant-list($list, $value-suffix: null, $variant-suffix: $value-suffix) { // Separate suffixes for value and generated class name (100% vs. 100\%).
  $selector-stem:      first-selector(&);
  $selector-remainder: remove-first-selector(&);
  $selectors:          &;
  $variant-original:   $variant; // Store the original variant.
  $variant-item:       __css-var($selector-stem) !global; // Pass back to the call site.

  @each $value in $list {
    @include variant(#{$value}#{$variant-suffix}) {
      $selector:  #{$selector-stem}#{$variant-delimiter}#{$value}#{$variant-suffix}#{$selector-remainder};
      $selectors: append($selectors, $selector, $separator: comma);

      #{__css-var($selector-stem)}: #{$value}#{$value-suffix};
    }
  }

  // Avoiding @extend snowballing, just use the specific selector list.
  @at-root {
    #{__selector-list($selectors)} {
      @content;
    }
  }

  $variant: $variant-original !global; // Restore original variant.
}



@mixin variant-count($count, $count--upper: null, $default: 1, $halves: false, $sign: false) {
  $count--lower: 1;

  @if $count--upper {
    $count--lower: $count;
  }
  @else {
    $count--upper: $count;
  }

  $selector-stem:      first-selector(&);
  $selector-remainder: remove-first-selector(&);
  $selectors:          &;
  $negative-selectors: null;
  $variant-original:   $variant; // Store the original variant.
  $variant-count:      var(#{__css-var($selector-stem)}) !global; // Pass back to the call site.
  $variant-sign:       var(#{__css-var($selector-stem)}--sign, 1) !global;

  // Then go through counts.
  @for $count from $count--lower through $count--upper {
    $selector: #{$selector-stem}#{$selector-remainder};

    @if $count == $default {
      // Base/default class (no :1 needed).
      @at-root {
        #{__selector-list($selector)} {
          #{__css-var($selector-stem)}: #{$count};
        }
      }
    }

    @include variant($count) {
      @if $count == $default { // Tack on to default.
        @extend #{__placeholder($selector-stem)};
      }
      @else {
        #{__css-var($selector-stem)}: #{$count};
      }

      $selector:  #{$selector-stem}#{$variant-delimiter}#{$count}#{$selector-remainder};
      $selectors: append($selectors, $selector, $separator: comma);

      @if $sign and $count < 0 {
        $negative-selectors: append($negative-selectors, $selector, $separator: comma);
      }
    }

    // Some half counts.
    @if $halves {
      $variant-count: $count;

      @if $count == -1 {
        $variant-count: "-0"; // -1 + 1 is 0, so we need to force a negative
      }
      @else if $count < -1 {
        $variant-count: $count + 1;
      }

      @include variant(#{$variant-count}#{$variant-decimal}5) {
        $selector:  #{$selector-stem}#{$variant-delimiter}#{$variant-count}#{$variant-decimal}5#{$selector-remainder};
        $selectors: append($selectors, $selector, $separator: comma);

        #{__css-var($selector-stem)}: #{$count + 0.5};
      }
    }
  }

  @include variant(clear) { // Also include a reset.
    $selector:  #{$selector-stem}#{$variant-delimiter}#{$variant}#{$selector-remainder};
    $selectors: append($selectors, $selector, $separator: comma);

    #{__css-var($selector-stem)}: initial;
  }

  // Avoiding @extend snowballing, just use the specific selector list.
  @at-root {
    // If only CSS had an absolute value in calcs…
    @if $negative-selectors {
      #{__selector-list($negative-selectors)} {
        #{__css-var($selector-stem)}--sign: -1;
      }
    }

    #{__selector-list($selectors)} {
      @content;
    }
  }

  $variant: $variant-original !global; // Restore original variant.
}



@mixin variant-percentages($percentages...) {
  $selector:         &;
  $selector-stem:    first-selector(&);
  $variant-original: $variant; // Store the original variant.

  @if length($percentages) == 0 {
    $percentages: ();
    $percent:     0;
    $increment:   5;

    // Every 5%.
    @while $percent <= 100 {
      $percentages: append($percentages, $percent);
      $percent:     $percent + $increment;
    }

    @include variant(33\%) { // Increased accuracy for thirds.
      @extend #{__placeholder($selector-stem)};

      #{__css-var($selector-stem)}: percentage(1 / 3);
    }

    @include variant(66\%) {
      @extend #{__placeholder($selector-stem)};

      #{__css-var($selector-stem)}: percentage(2 / 3);
    }
  }

  @include variant-list($percentages, '%', '\\%') {
    $variant-percentage: var(#{$variant-item}) !global; // Pass back to call site with a new name.
    @content;
  }

  @include variant(auto) { // Also include resets.
    @extend #{__placeholder($selector-stem)};

    #{__css-var($selector-stem)}: auto;
  }

  @include variant(clear) {
    @extend #{__placeholder($selector-stem)};

    #{__css-var($selector-stem)}: initial;
  }

  $variant: $variant-original !global; // Restore original variant.
}


@mixin variant-timings {
  $timings: 0, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 600, 800, 1000, 1500, 2000, 3000, 4000;

  @include variant-list($timings, 'ms') {
    $variant-timing: var(#{$variant-item}) !global; // Pass back to call site with a new name.

    @content;
  }
}


@mixin variant-easings {
  $easings: ease, ease-in, ease-out, ease-in-out, linear, step-start, step-end;

  @include variant-list($easings) {
    $variant-easing: var(#{$variant-item}) !global; // Pass back to call site with a new name.

    @content;
  }
}



@mixin variant-rotations {
  $rotations: 0, 45, 90, 135, 180, 225, 270, 315, 360;

  @include variant-list($rotations, 'deg') {
    $variant-rotation: var(#{$variant-item}) !global; // Pass back to call site with a new name.

    @content;
  }
}



@mixin variant-ratios {
  $selector-stem:      first-selector(&);
  $selector-remainder: remove-first-selector(&);
  $selectors:          &;
  $variant-original:   $variant; // Store the original variant.
  $variant-ratio:      var(#{__css-var($selector-stem)}) !global; // Pass back to the call site.

  $ratios: 1, 2, 3, 4, 5, 6, 9, 16; // Commonly used.

  @each $horizontal in $ratios {
    @each $vertical in reverse($ratios) {
      @if $horizontal == 1 and $vertical == 1 {
        @include variant("1#{$variant-delimiter}1", square) { // Easy naming.
          $selector:  #{$selector-stem}#{$variant-delimiter}#{$variant}#{$selector-remainder};
          $selectors: append($selectors, $selector, $separator: comma);

          #{__css-var($selector-stem)}: #{$horizontal}; // Pass back to the call site.
        }
      }
      // TODO This still generates some redundant ones, like 2:4, 2:6, 3:6, etc.
      @else if $horizontal != $vertical {
        @include variant($horizontal) {
          @include variant($vertical) {
            $selector:  #{$selector-stem}#{$variant-delimiter}#{$horizontal}#{$variant-delimiter}#{$vertical}#{$selector-remainder};
            $selectors: append($selectors, $selector, $separator: comma);

            #{__css-var($selector-stem)}: #{$horizontal / $vertical}; // Pass back to the call site.
          }
        }
      }
    }
  }

  @include variant(clear) {
    $selector:  #{$selector-stem}#{$variant-delimiter}#{$variant}#{$selector-remainder};
    $selectors: append($selectors, $selector, $separator: comma);

    #{__css-var($selector-stem)}: initial;
  }

  // Avoiding @extend snowballing, just use the specific selector list.
  @at-root {
    #{__selector-list($selectors)} {
      @content;
    }
  }

  $variant: $variant-original !global; // Restore original variant.
}
