:root {
  --language-font-face: "MoMA Sans";
  --typography--size:   80;
  --typography--weight: 900;
  --typography--font-size: 60px;
  --typography--letter-spacing: calc(var(--typography--tracking--override, var(--typography--tracking)) * 1em);

  --page-spacing:       4.8rem;

  --color: black;
}

.wrapper {
  margin: 0 auto;
  margin-top: var(--page-spacing);
  padding: 0 var(--page-spacing);
}

.page-title {
  font-family: "MoMA Sans", var(--language-font-face), Helvetica, sans-serif;
  font-weight: var(--typography--weight);
  font-size: var(--typography--font-size);
  color: var(--color);
  letter-spacing: var(--typography--letter-spacing);
}

.linkcard {}

.new-linkcard {}

.new-linkcard--container {}

.linkcard--container {
  border: 1px solid black;
  padding: var(--page-spacing);
}

.linkcard--contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--page-spacing);
}

.linkcard--text {
  grid-column: 1 / span 2;
}