@function __placeholder($selector) {
  // Our un-escaped delimiters and CSS syntax.
  $reserved:
    str-replace(#{$block-prefix}, '\\'),
    str-replace(#{$breakpoint-prefix}, '\\'),
    str-replace(#{$breakpoint-delimiter}, '\\'),
    str-replace(#{$variant-delimiter}, '\\'),
    str-replace(#{$atom-delimiter}, '\\'),
    '.',
    '(',
    ')',
    '%'
  ;

  // Toss the first "." and un-escape the rest.
  $selector: str-replace(strip-selector(#{$selector}), '\\');

  @return "%#{str-replace-multiple(#{$selector}, $reserved, '--')}";
}



@function __selector-list($selectors) {
  $classes:      ();
  $placeholders: ();
  $selectors:    split-chained-selector(#{$selectors});

  // Split out classes.
  @each $selector in $selectors {
    @if str-index(#{$selector}, ".") == 1 {
      $classes: append($classes, $selector, $separator: comma);
    }
    @else if str-index(#{$selector}, "%") == 1 {
      $placeholders: append($placeholders, $selector, $separator: comma);
    }
  }

  @if length($classes) > 0 {
    // Make classes into placeholders.
    @each $class in $classes {
      $placeholder: __placeholder(first-selector($class));

      // If there aren’t any placeholders, or there isn’t already this one.
      @if length($placeholders) == 0 or str-index(#{$placeholders}, $placeholder) == null {
        $placeholders: append($placeholders, $placeholder, $separator: comma);
      }
    }

    // Add them back to the selectors.
    $selectors: append($selectors, $placeholders, $separator: comma);
  }

  @return #{$selectors};
}



$atom-delimiter:       \/;
$variant-delimiter:    \:;
$variant-decimal:      \.;
$breakpoint-prefix:    \@;
$breakpoint-delimiter: #{$variant-delimiter}#{$variant-delimiter};
$block-prefix:         \!;



@mixin atom($atoms...) {
  @each $atom in $atoms {
    $atom-parent:   first-selector(&) !global;
    $atom:          #{'' + $atom}     !global; // This concatenation is to clear SCSS compile warnings over certain names (like colors).
    $atom-selector: $atom-parent;              // To start.

    // Only insert the breakpoint once.
    @if str-index(#{$atom-parent}, $breakpoint-prefix) {
      $atom-selector: "#{$atom-parent}#{$atom-delimiter}#{$atom}";
    }
    @else {
      $atom-selector: ".#{$atom-breakpoint}#{strip-selector($atom-parent)}#{$atom-delimiter}#{$atom}";
    }

    @at-root {
      #{__selector-list($atom-selector)} {
        @content;
      }
    }
  }
}



@mixin atom-breakpoints($limited: false) {
  @at-root {
    $atom-breakpoint: null !global; // Pass back to the call site, starting empty.
    $breakpoint-list: $breakpoints;

    @if $limited {
      $breakpoint-list: $breakpoints--limited;
    }

    @content; // Mobile first.

    @each $direction, $breakpoint in $breakpoint-list {
      @each $name, $break in $breakpoint {
        @if $direction == width {
          @include breakpoint($break) {
            $atom-breakpoint: #{$breakpoint-prefix}#{str-replace(str-replace($name, '.', #{$variant-decimal}), ':', #{$variant-delimiter})}#{$breakpoint-delimiter} !global; // Pass back.

            @content;
          }
        }
        @else {
          @if not $limited {
            // Render landcapes after widths, for specificity.
            @include breakpoint--landscape {
              $atom-breakpoint: #{$breakpoint-prefix}landscape#{$breakpoint-delimiter} !global; // Pass back.

              @content;
            }

            @include breakpoint($breakpoint__nonmobile) {
              @include breakpoint--landscape {
                $atom-breakpoint: #{$breakpoint-prefix}nonmobile#{$variant-delimiter}landscape#{$breakpoint-delimiter} !global; // Pass back.

                @content;
              }
            }
            // Then our lone height.
            @include breakpoint--height($break) {
              $atom-breakpoint: #{$breakpoint-prefix}#{$name}#{$breakpoint-delimiter} !global; // Pass back.

              @content;
            }
          }
        }
      }
    }

    $atom-breakpoint: '' !global; // Clears after we run so that the atom mixin can use this when not in a breakpoint.
  }
}



@mixin atom-block($block) {
  .#{$block-prefix}#{$block} {
    $atom-block: & !global;

    @content;
  }
}
