@function __placeholder($selector) {
  // Our un-escaped delimiters and CSS syntax.
  $reserved:
    str-replace(#{$breakpoint-prefix}, '\\'),
    str-replace(#{$breakpoint-delimiter}, '\\'),
    str-replace(#{$variant-delimiter}, '\\'),
    str-replace(#{$atom-delimiter}, '\\'),
    '.',
    '(',
    ')',
    '%'
  ;

  // Toss the first "." and un-escape the rest.
  $selector: str-replace(strip-selector(#{$selector}), '\\');

  @return "%#{str-replace-multiple(#{$selector}, $reserved, '--')}";
}

@function __class($selector) {
  // This one makes a compiled class by escaping.
  $reserved:
    str-replace(#{$breakpoint-prefix}, '\\'), // But not breakpoint-delimiter, since it is just two variants right now.
    str-replace(#{$variant-delimiter}, '\\'),
    str-replace(#{$atom-delimiter}, '\\'),
    '.',
    '(',
    ')',
    '%'
  ;

  @return ".#{str-replace-multiple(#{$selector}, $reserved, '\\', true)}";
}



@function __selector-list($selectors) {
  $classes:      ();
  $placeholders: ();
  $selectors:    split-chained-selector(#{$selectors});

  // Split out classes.
  @each $selector in $selectors {
    @if str-index(#{$selector}, ".") == 1 {
      $classes: append($classes, $selector, $separator: comma);
    }
    @else if str-index(#{$selector}, "%") == 1 {
      $placeholders: append($placeholders, $selector, $separator: comma);
    }
  }

  @if length($classes) > 0 {
    // Make classes into placeholders.
    @each $class in $classes {
      $placeholder: __placeholder(first-selector($class));

      // If there aren’t any placeholders, or there isn’t already this one.
      @if length($placeholders) == 0 or str-index(#{$placeholders}, $placeholder) == null {
        $placeholders: append($placeholders, $placeholder, $separator: comma);
      }
    }

    // Add them back to the selectors.
    $selectors: append($selectors, $placeholders, $separator: comma);
  }

  @return #{$selectors};
}



$atom-delimiter:       \/;
$variant-delimiter:    \:;
$variant-decimal:      \.;
$breakpoint-prefix:    \@;
$breakpoint-delimiter: #{$atom-delimiter};



@mixin atom($atoms...) {
  @each $atom in $atoms {
    $atom-parent:   first-selector(&) !global;
    $atom:          #{'' + $atom}     !global; // This concatenation is to clear SCSS compile warnings over certain names (like colors).
    $atom-selector: $atom-parent;              // To start.

    // Only insert the breakpoint once.
    @if str-index(#{$atom-parent}, $breakpoint-prefix) {
      $atom-selector: "#{$atom-parent}#{$atom-delimiter}#{$atom}";
    }
    @else {
      $atom-selector: ".#{$atom-breakpoint}#{strip-selector($atom-parent)}#{$atom-delimiter}#{$atom}";
    }

    @at-root {
      #{__selector-list($atom-selector)} {
        @content;
      }
    }
  }
}



@mixin atom-breakpoints {
  @at-root {
    $atom-breakpoint: null !global; // Pass back to the call site, starting empty.

    @content; // Mobile first.

    @each $direction, $breakpoint in $breakpoints {
      @each $name, $break in $breakpoint {
        @if $direction == width {
          @include breakpoint($break) {
            $atom-breakpoint: #{$breakpoint-prefix}#{$name}#{$breakpoint-delimiter} !global; // Pass back.

            @content;
          }
        }
        @else {
          // Render landscape queries after widths, for specificity.
          @include breakpoint(landscape) {
            $atom-breakpoint: #{$breakpoint-prefix}landscape#{$breakpoint-delimiter} !global;

            @content;

            @include breakpoint(768) {
              $atom-breakpoint: #{$atom-breakpoint}768#{$breakpoint-delimiter} !global; // Nested/appended.

              @content;
            }
          }
          // Then our lone height.
          @include breakpoint(tall) {
            @include breakpoint(768) { // Only meaningful on desktop.
              $atom-breakpoint: #{$breakpoint-prefix}tall#{$breakpoint-delimiter} !global;

              @content;
            }
          }
        }
      }
    }

    $atom-breakpoint: '' !global; // Clears after we run so that the atom mixin can use this when not in a breakpoint.
  }
}
