$colors: (
  black: (hex: #000000, dark-background: true),
  white: (hex: #ffffff),
  red:   (hex: #e42d00, dark-background: true),
  gray: (
    111: (hex: #111111, dark-background: true),
    222: (hex: #222222, dark-background: true),
    333: (hex: #333333, dark-background: true),
    444: (hex: #444444, dark-background: true),
    555: (hex: #555555, dark-background: true),
    666: (hex: #666666, dark-background: true),
    777: (hex: #777777, dark-background: true),
    888: (hex: #888888),
    999: (hex: #999999),
    aaa: (hex: #aaaaaa),
    bbb: (hex: #bbbbbb),
    ccc: (hex: #cccccc),
    ddd: (hex: #dddddd),
    eee: (hex: #eeeeee),
  ),
  brand: ( // These have been tweaked for more uniform density, light/dark use.
    1:  (hex: #f752bd), // Ours.             // #e93cac in the brand guidelines.
    2:  (hex: #e82046),                      // #e4002b
    3:  (hex: #ff585d),                      // #ff585d
    4:  (hex: #ffa096),                      // #ffb3ab
    5:  (hex: #ff8f1c),                      // #ff8f1c
    6:  (hex: #fac300),                      // #ffcd00
    7:  (hex: #bad200),                      // #cedc00
    8:  (hex: #0db54a),                      // #00b140
    9:  (hex: #6bdcc5),                      // #8ce2d0
    10: (hex: #00afd7),                      // #00afd7
    11: (hex: #1263bd),                      // #0057b8
    12: (hex: #834fc4),                      // #753bbd
  ),
);



:root {
  @extend %color--base;
  @extend %color--base--background;
  @extend %color--focus;

  --color--session:             var(--color--gray--888);
  --color--session--background: var(--color--gray--999);

  --color--session--rgb:             var(--color--gray--888--rgb);
  --color--session--background--rgb: var(--color--gray--999--rgb);

  --color--ps1:                        var(--color--white);
  --color--ps1--secondary:             var(--color--session);
  --color--ps1--background:            var(--color--black);
  --color--ps1--background--secondary: var(--color--gray--222);

  --color--ps1--rgb:                        var(--color--white--rgb);
  --color--ps1--secondary--rgb:             var(--color--session--rgb);
  --color--ps1--background--rgb:            var(--color--black--rgb);
  --color--ps1--background--secondary--rgb: var(--color--gray--222--rgb);

  --color--collection:             var(--color--black);
  --color--collection--secondary:  var(--color--brand--10);
  --color--collection--background: var(--color--brand--6);

  --color--collection--rgb:             var(--color--black--rgb);
  --color--collection--secondary--rgb:  var(--color--brand--10--rgb);
  --color--collection--background--rgb: var(--color--brand--6--rgb);
}


// Shared color-to-rgba mapping.
%color--rgba {
  --color: rgba(var(--color--rgb--override, var(--color--rgb)), var(--color--alpha, 1));
}

%color--background--rgba {
  --color--background: rgba(var(--color--background--rgb--override, var(--color--background--rgb)), var(--color--background--alpha, 1));
}



%color--transitions {
  // When triggered by JS/after load (like session color), ease in color properties.
  @extend #{placeholder("$motion/transition:background-color:curve:ease-in")};
  @extend #{placeholder("$motion/transition:background-color:duration:200ms")};
  @extend #{placeholder("$motion/transition:border-color:curve:ease-in")};
  @extend #{placeholder("$motion/transition:border-color:duration:200ms")};
  @extend #{placeholder("$motion/transition:color:curve:ease-in")};
  @extend #{placeholder("$motion/transition:color:duration:200ms")};
  @extend #{placeholder("$motion/transition:fill:curve:ease-in")};
  @extend #{placeholder("$motion/transition:fill:duration:200ms")};
  @extend #{placeholder("$motion/transition:stroke:curve:ease-in")};
  @extend #{placeholder("$motion/transition:stroke:duration:200ms")};
  @extend #{placeholder("motion/transition")};

  .typography,
  [class*="color/all"],
  [class*="color/background"],
  [class*="layout/border"],
  [class*="typography/icon"] { // TODO This correctly targets icon SVGs, but the transition doesn’t seem to work.
    @extend #{placeholder("motion/transition")};
  }
}



// Base colors, pulled out for extending.
%color--base {
  @extend %color--rgba;

  --color--rgb: var(--color--black--rgb);
}

%color--base--reverse {
  @extend %color--rgba;

  --color--rgb: var(--color--white--rgb);
}

%color--base--background {
  @extend %color--background--rgba;

  --color--background--rgb: var(--color--white--rgb);
}



%color--focus {
  --color--focus--rgb: var(--color--black--rgb);
  --color--focus:      var(--color--black);

  --color--active--alpha:        0.04;
  --color--tap-highlight--alpha: 0.07;
}

%color--focus--reverse {
  --color--focus--rgb: var(--color--white--rgb);
  --color--focus:      var(--color--white);

  --color--active--alpha:        0.10; // These are brighter (more opaque) on darker backgrounds.
  --color--tap-highlight--alpha: 0.13;
}



// Reset/flatten colors on all elements for high-contrast.
[data-high-contrast] {
  %color--high-contrast--alpha {
    --color--alpha: initial;
  }

  %color--high-contrast--background--alpha {
    --color--background--alpha: initial;
  }

  %color--high-contrast {
    @extend %color--high-contrast--alpha;
    @extend %color--rgba;

    --color--rgb: var(--color--black--rgb);
  }

  %color--high-contrast--background {
    @extend %color--background--rgba;
    @extend %color--focus;
    @extend %color--high-contrast--background--alpha;

    --color--background--rgb: var(--color--white--rgb);
  }

  %color--high-contrast--reverse {
    @extend %color--focus--reverse;
    @extend %color--high-contrast--alpha;
    @extend %color--rgba;

    --color--rgb: var(--color--white--rgb);
  }

  %color--high-contrast--reverse--background {
    @extend %color--background--rgba;
    @extend %color--focus--reverse;
    @extend %color--high-contrast--background--alpha;

    --color--background--rgb: var(--color--black--rgb);
  }

  %color--high-contrast--session {
    @extend %color--high-contrast--alpha;
    @extend %color--rgba;

    --color--rgb: var(--color--red--rgb);
  }

  %color--high-contrast--session--background {
    @extend %color--background--rgba;
    @extend %color--focus--reverse;
    @extend %color--high-contrast--background--alpha;

    --color--background--rgb: var(--color--red--rgb);
  }
}



// For SVGs, this splits the alpha out to use as opacity on the whole icon—avoiding stroke transparency overlaps.
%color--svg--alpha {
  fill:    rgba(var(--color--rgb, --color--black--rgb), 1);
  opacity: var(--color--alpha, 1);
  stroke:  rgba(var(--color--rgb, --color--black--rgb), 1);
}



.color {
  @include atom-var {
    $color-variables: ();

    @each $item, $value in $colors {
      // First-level “named” colors.
      @if map-has-key($value, hex) {
        $color-name--rgb:  --color--#{$item}--rgb;
        $color-name:       --color--#{$item};
        $color-value--rgb: hex-to-rgb(map-get($value, hex));
        $color-value:      #{rgba}(#{$color-value--rgb}, 1); // The encapsulation on “rgba” is to prevent SCSS from using its function.

        $color-variables:  append($color-variables, (name: $color-name--rgb, value: $color-value--rgb));
        $color-variables:  append($color-variables, (name: $color-name, value: $color-value));

        // Map to the color variable.
        @include atom($item) {
          @include variant-alphas {
            @extend %color--rgba;

            @if $item == red {
              @extend %color--high-contrast--session;
            }
            @else {
              @extend %color--high-contrast;
            }

            --color--rgb: var(#{$color-name--rgb});
          }
        }
        // Map to the background color variable.
        @include atom(background) {
          @include variant($item) {
            @include variant-alphas($background: true) {
              @extend %color--background--rgba;

              @if $item == red {
                @extend %color--high-contrast--session--background;
                @extend %color--high-contrast--reverse;
              }
              @else {
                @extend %color--high-contrast--background;
                @extend %color--high-contrast;
              }

              // Invert base colors for dark values.
              @if map-get($value, dark-background) {
                @extend %color--base--reverse;
                @extend %color--focus--reverse;
              }

              --color--background--rgb: var(#{$color-name--rgb});
            }
          }
        }
      }

      // Second-level groups.
      @else {
        @each $grouped-item, $grouped-values in $value {
          $color-name--rgb:  --color--#{$item}--#{$grouped-item}--rgb;
          $color-name:       --color--#{$item}--#{$grouped-item};
          $color-value--rgb: hex-to-rgb(map-get($grouped-values, hex));
          $color-value:      #{rgba}(#{$color-value--rgb}, 1);

          $color-variables:  append($color-variables, (name: $color-name--rgb, value: $color-value--rgb));
          $color-variables:  append($color-variables, (name: $color-name, value: $color-value));

          @include atom($item) {
            @include variant($grouped-item) {
              @include variant-alphas {
                @extend %color--rgba;

                @if $item == brand {
                  @extend %color--high-contrast--session;
                }
                @else {
                  @extend %color--high-contrast;
                }

                --color--rgb: var(#{$color-name--rgb});
              }
            }
          }
          @include atom(background) {
            @include variant($item) {
              @include variant($grouped-item) {
                @include variant-alphas($background: true) {
                  @extend %color--background--rgba;

                  @if $item == brand {
                    @extend %color--high-contrast--session--background;
                    @extend %color--high-contrast--reverse;
                  }
                  @else {
                    @extend %color--high-contrast--background;
                    @extend %color--high-contrast;
                  }

                  // Invert base colors for dark values.
                  @if map-get($grouped-values, dark-background) {
                    @extend %color--base--reverse;
                    @extend %color--focus--reverse;
                  }

                  --color--background--rgb: var(#{$color-name--rgb});
                }
              }
            }
          }
        }
      }
    }

    // Render out the base variables.
    @at-root {
      :root {
        @each $color-variable in $color-variables {
          #{map-get($color-variable, name)}: #{map-get($color-variable, value)};
        }
      }
    }



    // For resetting to the base/root ones.
    @include atom(base) {
      @extend %color--base--background;
      @extend %color--base;
      @extend %color--focus;
      @extend %color--high-contrast;
    }



    // Separate alpha atoms.
    // Generally use these instead of opaque grays, for “free” invert/color-background usage!
    @include atom(alpha) {
      @include variant-alphas {
        @extend %color--high-contrast;
        @extend %color--rgba;
      }
    }

    @include atom(session) {
      @extend %color--high-contrast--session;
      @extend %color--rgba;
      @extend %color--transitions;

      --color--rgb: var(--color--session--rgb);

      // The session classes on <html>, mapping to brand colors.
      @each $color in map-keys(map-get($colors, brand)) {
        @include variant($color) {
          --color--session--rgb: var(--color--brand--#{$color}--rgb);
          --color--session:      var(--color--brand--#{$color});
        }
      }

    }

    @include atom(promo) {
      @extend %color--high-contrast;
      @extend %color--rgba;

      --color--rgb: var(--color--promo--rgb, var(--color--black--rgb));

      @include variant(secondary) {
        @extend %color--high-contrast--session;
        @extend %color--rgba;

        --color--rgb: var(--color--promo--secondary--rgb, var(--color--session--rgb));
      }
    }

    // Create classes to manually-apply when needed.
    @include atom(high-contrast) {
      @extend %color--high-contrast;

      @include variant(session) {
        @extend %color--high-contrast--session;
      }

      @include variant(reverse) {
        @extend %color--high-contrast--reverse;
      }
    }

    @include atom(focus) {
      @extend %color--focus;

      @include variant(reverse) {
        @extend %color--focus--reverse;
      }
    }



    // Background versions.
    @include atom(background) {
      @include variant(alpha) {
        @include variant-alphas($background: true) {
          @extend %color--background--rgba;
          @extend %color--high-contrast--background;
          @extend %color--high-contrast;
        }
      }

      @include variant(session) {
        @extend %color--background--rgba;
        @extend %color--high-contrast--reverse;
        @extend %color--high-contrast--session--background;
        @extend %color--transitions;

        --color--background--rgb: var(--color--session--rgb);
      }

      @include variant(promo) {
        @extend %color--background--rgba;
        @extend %color--high-contrast--background;
        @extend %color--high-contrast;

        --color--background--rgb: var(--color--promo--background--rgb, var(--color--gray--eee--rgb));

        @include variant(secondary) {
          @extend %color--background--rgba;
          @extend %color--high-contrast--background;
          @extend %color--high-contrast;

          --color--background--rgb: var(--color--promo--background--secondary--rgb, initial);
        }
      }

      @include variant(high-contrast) {
        @extend %color--high-contrast--background;
        @extend %color--high-contrast;

        @include variant(session) {
          @extend %color--high-contrast--session--background;
          @extend %color--high-contrast--reverse;
        }

        @include variant(reverse) {
          @extend %color--high-contrast--reverse--background;
          @extend %color--high-contrast--reverse;
        }
      }
    }



    // Flips the color/background.
    @include atom(reverse) {
      @extend %color--background--rgba;
      @extend %color--rgba;

      --color--background--rgb--override: var(--color--rgb);
      --color--rgb--override:             var(--color--background--rgb);

      @include variant(background) { // Just the background, to use --color.
        @extend %color--background--rgba;

        --color--background--rgb--override: var(--color--rgb);
      }
    }
  }



  // Apply them.
  @include atom(all) {
    color:  var(--color);

    // Directly on SVGs, and on children SVGs (depending on how they are put into DOM).
    @at-root {
      svg#{&},
      #{&} svg {
        @extend %color--svg--alpha;
      }
    }
  }

  @include atom(background) {
    background-color: var(--color--background);
  }

  @include atom(backdrop) {
    @include variant(blur) {
      @include browser-prefix(backdrop-filter, blur(calc(var(--page-spacing--fixed) / 8)), webkit);
    }

    @include variant(tint) {
      @include browser-prefix(backdrop-filter, brightness(90%) hue-rotate(-5deg) contrast(110%), webkit);
    }
  }
}
