@function __color--css-var($color-level-1, $color-level-2: null) {
  @if $color-level-2 {
    @return --color--#{$color-level-1}--#{$color-level-2};
  }
  @else {
    @return --color--#{$color-level-1};
  }
}

@function __color--css-var--rgb($color-level-1, $color-level-2: null) {
  @return #{__color--css-var($color-level-1, $color-level-2)}--rgb;
}



$alphas: 0, 3, 7, 10, 13, 20, 27, 33, 40, 47, 50, 80, 93, 96, 100; // The ones we’ve used in the past, for now.

$colors: (
  black: (hex: #000000, dark-background: true),
  white: (hex: #ffffff),
  red:   (hex: #ff3300, dark-background: true),
  gray: (
    111: (hex: #111111, dark-background: true),
    222: (hex: #222222, dark-background: true),
    333: (hex: #333333, dark-background: true),
    444: (hex: #444444, dark-background: true),
    555: (hex: #555555, dark-background: true),
    666: (hex: #666666, dark-background: true),
    777: (hex: #777777, dark-background: true),
    888: (hex: #888888),
    999: (hex: #999999),
    aaa: (hex: #aaaaaa),
    bbb: (hex: #bbbbbb),
    ccc: (hex: #cccccc),
    ddd: (hex: #dddddd),
    eee: (hex: #eeeeee),
  ),
  brand: (
    1:  (hex: #e93cac), // TODO These need dark-background decisions.
    2:  (hex: #e4002b),
    3:  (hex: #ff585d),
    4:  (hex: #ffb3ab),
    5:  (hex: #ff8f1c),
    6:  (hex: #ffcd00),
    7:  (hex: #cedc00),
    8:  (hex: #00b140),
    9:  (hex: #8ce2d0),
    10: (hex: #00afd7),
    11: (hex: #0057b8),
    12: (hex: #753bbd),
  ),
);



// TODO incorporate the alpha extends into this mixin, without repeating?
@mixin __variant-alphas($background: null) {
  $selector-stem:      first-selector(&);
  $selector-remainder: remove-first-selector(&);
  $selectors:          &;

  @each $alpha in $alphas {
    @include variant(#{$alpha}\%) {
      @if $background {
        @extend %__alpha--background--#{$alpha};
      }
      @else {
        @extend %__alpha--#{$alpha};
      }

      $selector:  #{$selector-stem}#{$variant-delimiter}#{$alpha}\%#{$selector-remainder};
      $selectors: append($selectors, $selector, $separator: comma);
    }
  }

  @at-root {
    #{__selector-list($selectors)} {
      @content;
    }
  }
}



:root {
  @extend %__base;
  @extend %__base--background;
  @extend %__focus;

  --color--ps1:                        var(#{__color--css-var(white)});
  --color--ps1--secondary:             var(--accent-color--on-dark);
  --color--ps1--background:            var(#{__color--css-var(black)});
  --color--ps1--background--secondary: var(#{__color--css-var(gray, 222)});

  --color--ps1--rgb:                        var(#{__color--css-var--rgb(white)});
  --color--ps1--secondary--rgb:             var(--accent-color--on-dark--rgb);
  --color--ps1--background--rgb:            var(#{__color--css-var--rgb(black)});
  --color--ps1--background--secondary--rgb: var(#{__color--css-var--rgb(gray, 222)});

  --color--collection:             var(#{__color--css-var(black)});
  --color--collection--secondary:  var(#{__color--css-var(brand, 10)});
  --color--collection--background: var(#{__color--css-var(brand, 6)});

  --color--collection--rgb:             var(#{__color--css-var--rgb(black)});
  --color--collection--secondary--rgb:  var(#{__color--css-var--rgb(brand, 10)});
  --color--collection--background--rgb: var(#{__color--css-var--rgb(brand, 6)});
}



// Base colors, pulled out for extending.
%__base {
  --color--rgb: var(#{__color--css-var--rgb(black)});
  --color:      rgba(var(--color--rgb), var(--color--alpha, 1));
}

%__base--reverse {
  --color--rgb: var(#{__color--css-var--rgb(white)});
  --color:      rgba(var(--color--rgb), var(--color--alpha, 1));
}

%__base--background {
  --color--background--rgb: var(#{__color--css-var--rgb(white)});
  --color--background:      rgba(var(--color--background--rgb), var(--color--background--alpha, 1));
}



%__focus {
  --color--focus:          var(#{__color--css-var(black)});
  --color--focus--rgb:     var(#{__color--css-var--rgb(black)});

  --color--active--alpha:        0.04;
  --color--tap-highlight--alpha: 0.07;
}

%__focus--reverse {
  --color--focus--rgb: var(#{__color--css-var--rgb(white)});
  --color--focus:      var(#{__color--css-var(white)});

  --color--active--alpha:        0.10; // These are brighter (more opaque) on darker backgrounds.
  --color--tap-highlight--alpha: 0.13;
}



// Reset/flatten colors on all elements for high-contrast.
[data-high-contrast] {
  %__high-contrast {
    --color:      var(#{__color--css-var(black)});
    --color--rgb: var(#{__color--css-var--rgb(black)});
  }

  %__high-contrast--background {
    --color--background:      var(#{__color--css-var(white)});
    --color--background--rgb: var(#{__color--css-var--rgb(white)});
  }

  %__high-contrast--reverse {
    --color:      var(#{__color--css-var(white)});
    --color--rgb: var(#{__color--css-var--rgb(white)});
  }

  %__high-contrast--reverse--background {
    --color--background:      var(#{__color--css-var(black)});
    --color--background--rgb: var(#{__color--css-var--rgb(black)});
  }

  %__high-contrast--accent {
    --color:      var(#{__color--css-var(red)});
    --color--rgb: var(#{__color--css-var--rgb(red)});
  }

  %__high-contrast--accent--background {
    --color--background:      var(#{__color--css-var(red)});
    --color--background--rgb: var(#{__color--css-var--rgb(red)});
  }
}



// For SVGs, this splits the alpha out to use as opacity on the whole icon—avoiding stroke transparency overlaps.
%color__svg--alpha {
  fill:    rgba(var(--color--rgb, #{__color--css-var--rgb(black)}), 1);
  opacity: var(--color--alpha, 1);
  stroke:  rgba(var(--color--rgb, #{__color--css-var--rgb(black)}), 1);
}



// Alpha extends.
@each $alpha in $alphas {
  %__alpha--#{$alpha} {
    --color--alpha: #{$alpha / 100};
  }

  %__alpha--background--#{$alpha} {
    --color--background--alpha: #{$alpha / 100};
  }
}



.color {
  @include atom-var {
    $color-variables: ();

    @each $item, $value in $colors {
      // First-level “named” colors.
      @if map-has-key($value, hex) {
        $color-name--rgb:  __color--css-var--rgb($item);
        $color-name:       __color--css-var($item);
        $color-value--rgb: hex-to-rgb(map-get($value, hex));
        $color-value:      #{rgba}(#{$color-value--rgb}, 1); // The encapsulation on “rgba” is to prevent SCSS from using its function.

        $color-variables:  append($color-variables, (name: $color-name--rgb, value: $color-value--rgb));
        $color-variables:  append($color-variables, (name: $color-name, value: $color-value));

        // Map to the color variable.
        @include atom($item) {
          @include __variant-alphas {
            @if $item == red {
              @extend %__high-contrast--accent;
            }
            @else {
              @extend %__high-contrast;
            }

            --color--rgb: var(#{$color-name--rgb});
            --color:      rgba(var(--color--rgb), var(--color--alpha, 1));
          }
        }
        // Map to the background color variable.
        @include atom(background) {
          @include variant($item) {
            @include __variant-alphas($background: true) {
              @if $item == red {
                @extend %__high-contrast--accent--background;
                @extend %__high-contrast--reverse;
              }
              @else {
                @extend %__high-contrast--background;
                @extend %__high-contrast;
              }

              // Invert base colors for dark values.
              @if map-get($value, dark-background) {
                @extend %__focus--reverse;
                @extend %__base--reverse;
              }

              --color--background--rgb: var(#{$color-name--rgb});
              --color--background:      rgba(var(--color--background--rgb), var(--color--background--alpha, 1));
            }
          }
        }
      }

      // Second-level groups.
      @else {
        @each $grouped-item, $grouped-values in $value {
          $color-name--rgb:  __color--css-var--rgb($item, $grouped-item);
          $color-name:       __color--css-var($item, $grouped-item);
          $color-value--rgb: hex-to-rgb(map-get($grouped-values, hex));
          $color-value:      #{rgba}(#{$color-value--rgb}, 1);

          $color-variables:  append($color-variables, (name: $color-name--rgb, value: $color-value--rgb));
          $color-variables:  append($color-variables, (name: $color-name, value: $color-value));

          @include atom($item) {
            @include variant($grouped-item) {
              @include __variant-alphas {
                @if $item == brand {
                  @extend %__high-contrast--accent;
                }
                @else {
                  @extend %__high-contrast;
                }

                --color--rgb: var(#{$color-name--rgb});
                --color:      rgba(var(--color--rgb), var(--color--alpha, 1));
              }
            }
          }
          @include atom(background) {
            @include variant($item) {
              @include variant($grouped-item) {
                @include __variant-alphas($background: true) {
                  @if $item == brand {
                    @extend %__high-contrast--accent--background;
                    @extend %__high-contrast--reverse;
                  }
                  @else {
                    @extend %__high-contrast--background;
                    @extend %__high-contrast;
                  }

                  // Invert base colors for dark values.
                  @if map-get($grouped-values, dark-background) {
                    @extend %__focus--reverse;
                    @extend %__base--reverse;
                  }

                  --color--background--rgb: var(#{$color-name--rgb});
                  --color--background:      rgba(var(--color--background--rgb), var(--color--background--alpha, 1));
                }
              }
            }
          }
        }
      }
    }

    // Render out the base variables.
    @at-root {
      :root {
        @each $color-variable in $color-variables {
          #{map-get($color-variable, name)}: #{map-get($color-variable, value)};
        }
      }
    }



    // Separate alpha atoms.
    @include atom(alpha) {
      @include __variant-alphas {
        @extend %__high-contrast;

        --color: rgba(var(--color--rgb), var(--color--alpha, 1));
      }
    }



    // For resetting to the base/root ones.
    @include atom(base) {
      @extend %__base;
      @extend %__base--background;
      @extend %__focus;
      @extend %__high-contrast;
    }



    @include atom(promo) {
      @extend %__high-contrast;

      --color:      var(--color--promo,      var(#{__color--css-var(black)}));
      --color--rgb: var(--color--promo--rgb, var(#{__color--css-var--rgb(black)}));

      @include variant(secondary) {
        @extend %__high-contrast--accent;

        --color:      var(--color--promo--secondary,      var(--accent-color--on-light));
        --color--rgb: var(--color--promo--secondary--rgb, var(--accent-color--on-light--rgb));
      }
    }



    // Create classes to manually-apply when needed.
    @include atom(focus) {
      @extend %__focus;

      @include variant(reverse) {
        @extend %__focus--reverse;
      }
    }

    @include atom(high-contrast) {
      @extend %__high-contrast;

      @include variant(accent) {
        @extend %__high-contrast--accent;
      }

      @include variant(reverse) {
        @extend %__high-contrast--reverse;
      }
    }


    // This just sets variables for atomic elements to use, vs. the legacy ones which also apply properties.
    @include atom(accent) {
      --color:      var(--accent-color--on-light);
      --color--rgb: var(--accent-color--on-light--rgb);

      // TODO Unravel this as part of updating the colors.
      // @include has-dark-background {
      //   --color:      var(--accent-color--on-dark);
      //   --color--rgb: var(--accent-color--on-dark--rgb);
      // }
    }



    // Background versions.
    @include atom(background) {
      @include variant(alpha) {
        @include __variant-alphas($background: true) {
          @extend %__high-contrast--background;
          @extend %__high-contrast;

          --color--background: rgba(var(--color--background--rgb), var(--color--background--alpha, 1));
        }
      }



      @include variant(promo) {
        @extend %__high-contrast--background;
        @extend %__high-contrast;

        --color--background:      var(--color--promo--background,      var(#{__color--css-var(gray, eee)}));
        --color--background--rgb: var(--color--promo--background--rgb, var(#{__color--css-var--rgb(gray, eee)}));

        @include variant(secondary) {
          @extend %__high-contrast--background;
          @extend %__high-contrast;

          --color--background:      var(--color--promo--background--secondary,      transparent);
          --color--background--rgb: var(--color--promo--background--secondary--rgb, initial);
        }
      }



      @include variant(high-contrast) {
        @extend %__high-contrast--background;
        @extend %__high-contrast;

        @include variant(accent) {
          @extend %__high-contrast--accent--background;
          @extend %__high-contrast--reverse;
        }

        @include variant(reverse) {
          @extend %__high-contrast--reverse--background;
          @extend %__high-contrast--reverse;
        }
      }
    }



    // Flips the color/background for children.
    @include atom(reverse) {
      --color--parent:                 var(--color);
      --color--rgb--parent:            var(--color--rgb);

      --color--background--parent:      var(--color--background);
      --color--background--rgb--parent: var(--color--background--rgb);

      > * {
        --color:                 var(--color--background--parent);
        --color--rgb:            var(--color--background--rgb--parent);

        --color--background:      var(--color--parent);
        --color--background--rgb: var(--color--rgb--parent);
      }

      @include variant(background) {
        --color--background: rgba(var(--color--rgb), var(--color--background--alpha, 1));

        > * {
          --color--background: rgba(var(--color--background--rgb), var(--color--background--alpha, 1));
        }
      }
    }
  }



  // Apply them.
  @include atom(all) {
    color:  var(--color);

    // Directly on SVGs, and on children SVGs (depending on how they are put into DOM).
    @at-root {
      svg#{&},
      #{&} svg {
        @extend %color__svg--alpha;
      }
    }
  }

  @include atom(background) {
    background-color: var(--color--background);
  }

  @include atom(backdrop) {
    @include variant(blur) {
      @include browser-prefix(backdrop-filter, blur(calc(var(--page-spacing--fixed) / 8)), webkit);
    }

    @include variant(tint) {
      @include browser-prefix(backdrop-filter, brightness(90%) hue-rotate(-5deg) contrast(110%), webkit);
    }
  }
}
