:root {
  $page-spacing:                     2.4rem;
  $page-spacing--desktop:            3.2rem;
  $page-spacing--desktop--fixed:     4.8rem;

  --rem-conversion: 0.1rem;  // Rem conversion. No Math!

  --page-spacing:        #{$page-spacing}; // Top/bottom spacing.
  --page-spacing--fixed: #{$page-spacing}; // Left/right spacing.

  --page-width--extension: 0rem;
  --page-width--layout:    calc(var(--page-width--visible) - var(--page-spacing--fixed) * 2);
  --page-width--maximum:   128rem;
  --page-width--visible:   calc(100vw - var(--scrollbar-width, 0rem)); // vw does not account for scrollbar.

  --rights-maximum: 200rem;

  --uneven-column-width--side: calc((var(--page-width--layout) - var(--page-spacing--fixed) * 2) / 3);                          // 1/3 without gutters.
  --uneven-column-width--main: calc(var(--page-width--layout) - var(--uneven-column-width--side) - var(--page-spacing--fixed)); // Less another gutter.

  --nav-height: 0rem;

  @include breakpoint($desktop) {
    --page-spacing:        #{$page-spacing--desktop};
    --page-spacing--fixed: #{$page-spacing--desktop--fixed};
  }

  @include breakpoint(1280) {
    --page-width--layout:    calc(var(--page-width--maximum) - var(--page-spacing--fixed) * 2);
    --page-width--extension: calc((var(--page-width--visible) - var(--page-width--maximum)) / 2);
  }

  @include breakpoint(2000) {
    --page-width--extension: calc((var(--rights-maximum) - var(--page-width--maximum)) / 2);
  }
}



%layout--margins-auto {
  margin-left:  auto;
  margin-right: auto;
}

%layout--page-width {
  max-width: var(--page-width--maximum);
  width:     var(--page-width--visible);
}



.layout {
  $spacing-count--upper: 4; // For page, baseline, and cap variants.



  @include atom(circle) {
    --border-radius: 50%;

    border-radius: var(--border-radius);
  }

  @include atom(anchor-offset) {
    &:target {
      scroll-margin-top: calc(var(--page-spacing) + var(--nav-height, 0rem));
    }
  }


  // These are kind of our only true “molecules”.
  @include atom(wrapper) {
    @extend %layout--margins-auto;
    @extend %layout--page-width;

    padding-left:  var(--page-spacing--fixed);
    padding-right: var(--page-spacing--fixed);

    @include variant(extension) {
      @include variant(left, right) {
        padding-#{$variant}: var(--page-width--extension);
      }
    }

    @include variant(bleed) {
      @extend %layout--margins-auto;
      @extend %layout--page-width;
    }

    @include variant(rights-maximum) {
      @extend %layout--margins-auto;

      max-width: var(--rights-maximum);
      width:     100%;
    }
  }



  @include atom-breakpoints {
    %#{$atom-breakpoint}page-spacing--reset {
      --page-spacing--override: initial;
    }

    %#{$atom-breakpoint}typography--previous {
      --layout--typography--size:    var(--typography--size--previous);
      --layout--typography--leading: var(--typography--leading--previous);
    }

    %#{$atom-breakpoint}typography--reset {
      --layout--typography--size:    initial;
      --layout--typography--leading: initial;
    }

    // Size for layout.
    %#{$atom-breakpoint}typography--size {
      --layout--typography--font-size: var(--layout--typography--size, var(--typography--size)) * var(--rem-conversion); // Separate internal calculations for spacing.
    }

    // Maths for sequential baselines.
    %#{$atom-breakpoint}typography--baseline {
      @extend %#{$atom-breakpoint}typography--size;

      --layout--typography--line-height:      var(--layout--typography--leading, var(--typography--leading)) * var(--layout--typography--font-size); // Same.
      --layout--typography--leading--between: var(--layout--typography--font-size) * (var(--layout--typography--leading, var(--typography--leading)) - 1); // Same.
      --layout--typography--shoulder:         var(--layout--typography--font-size) * var(--typography--shoulder); // Same.

      --layout--typography--leading-shoulder: calc(var(--layout--typography--leading--between) + var(--layout--typography--shoulder));
    }

    // Cap-heights.
    %#{$atom-breakpoint}typography--cap {
      @extend %#{$atom-breakpoint}typography--size;

      --layout--typography--cap-height: calc(var(--typography--cap-height) * var(--layout--typography--font-size)); // Calc a cap-height.
    }



    @include atom-var {
      @include atom(page) { // Overrides.
        @include variant(fixed) {
          --page-spacing--override: var(--page-spacing--fixed);

          > * { // Reset for descendants.
            @extend %#{$atom-breakpoint}page-spacing--reset;
          }
        }

        @include variant(flexible) {
          --page-spacing--override: var(--page-spacing);

          > * { // Reset for descendants.
            @extend %#{$atom-breakpoint}page-spacing--reset;
          }
        }

        @include variant(clear) {
          @extend %#{$atom-breakpoint}page-spacing--reset;
        }
      }

      @include atom(baseline, cap) {
        @include variant(previous) {
          @extend %#{$atom-breakpoint}typography--previous;

          > * { // Reset for descendants.
            @extend %#{$atom-breakpoint}typography--reset;
          }
        }

        @include variant(current) {
          @extend %#{$atom-breakpoint}typography--reset;
        }

        @if $atom == "baseline" {
          @include variant(exact) {
            --layout--typography--leading-shoulder--override: 0rem;
          }

          @include variant(shoulder) {
            --layout--typography--leading-shoulder--override: initial;
          }
        }
      }
    }



    @include atom(block, flow-root, inline-block, inline-flex, none) {
      display: #{$atom};
    }

    @include atom(flex) {
      $flex: &;

      display: flex;

      @include variant(column, row) {
        @extend #{$flex};

        $direction: $variant;

        flex-direction: #{$variant};

        @include variant(reverse) {
          @extend #{$flex};

          flex-direction: #{$direction}-#{$variant};
        }
      }

      @include variant(nowrap, wrap) {
        flex-wrap: #{$variant};
      }

      @include variant(grow, shrink) {
        $direction: $variant;

        flex-#{$direction}: 1;

        @include variant(enable) {
          @extend #{$variant-parent};
        }

        @include variant(disable) {
          flex-#{$direction}: 0;
        }

        @include variant(clear) {
          flex-#{$direction}: initial;
        }
      }

      @include variant(basis) {
        $basis-property:    css-var(&);
        $basis-placeholder: placeholder(first-selector(&));

        flex-basis: var(#{$basis-property}); // Allow for inlining.

        // Same vocabulary as “layout/width”, since basis is the main-axis size.
        @include variant-percentages {
          @extend #{$basis-placeholder};
        }
      }
    }

    @include atom(grid) {
      $columns: 6;
      $parent: &;

      display: #{$atom};
      
      @include variant(&, columns, rows) {
        @include variant-count(1, $columns, $default: false) {
          @extend #{$parent};
          
          $base: $variant;
          @if not $variant {
            $base: "columns";
          } 

          #{css-var($parent)}--template--#{$base}: repeat(#{$variant-count}, minmax(0, 1fr));
          grid-template-#{$base}: var(#{css-var(#{css-var($parent)}--template--#{$base})});
        }
      }

      @include variant(gap) {
        @include variant(&, column, row) {
          @if $variant {
            $variant-modifier: #{$variant}- !global; // With the hyphen.
          }

          #{$variant-modifier}gap: var(#{css-var(&)}); // Allow for inlining.

          @include variant(page) {
            @include variant-count($spacing-count--upper, $halves: true) {
              @if $variant-modifier == "column-" {
                #{$variant-modifier}gap: calc(var(--page-spacing--override, var(--page-spacing--fixed)) * #{$variant-count});
              }
              @else if $variant-modifier == "row-" {
                #{$variant-modifier}gap: calc(var(--page-spacing--override, var(--page-spacing)) * #{$variant-count});
              }
              @else {
                column-gap: calc(var(--page-spacing--override, var(--page-spacing--fixed)) * #{$variant-count});
                row-gap:    calc(var(--page-spacing--override, var(--page-spacing)) * #{$variant-count});
              }
            }
          }

          @include variant(baseline) {
            @include variant-count(0, $spacing-count--upper) {
              @extend %#{$atom-breakpoint}typography--baseline;

              // Add the leading/shoulder.
              #{$variant-modifier}gap: calc((var(--layout--typography--line-height) * #{$variant-count}) + var(--layout--typography--leading-shoulder--override, var(--layout--typography--leading-shoulder)));
            }
          }

          @include variant(cap) {
            @include variant-count($spacing-count--upper, $halves: true) {
              @extend %#{$atom-breakpoint}typography--cap;

              #{$variant-modifier}gap: calc(var(--layout--typography--cap-height) * #{$variant-count});
            }
          }

          @include variant(clear) { // Reset any of them.
            #{$variant-modifier}gap: initial;
          }
        }
      }

      @include variant(column, row) {
        $variant-modifier: #{$variant} !global;

        @include variant(span) {
          @include variant-count(1, $columns, $default: false) {
            grid-#{$variant-modifier}: span #{$variant-count};
          }
        }
      }
    }

    @include atom(align, justify) {
      @include variant(center, end, start, stretch) {
        $prefix: null;

        @if $variant == "end" or $variant == "start" {
          $prefix: flex-;
        }

        @include increase-specificity {
          #{$atom}-items: #{$prefix}#{$variant};
        }

        // Because flexbox is dumb, need to use `-content` on the cross axis.
        @if $atom == "justify" {
          &[class*="layout/flex"] {
            #{$atom}-content: #{$prefix}#{$variant};
          }
        }
      }

      @include variant(evenly, between) {
        @include increase-specificity {
          #{$atom}-content: space-#{$variant};
        }
      }
    }

    @include atom(order) {
      @include variant-count(1, 6, $default: false) {
        #{$atom}: #{$variant-count};
      }
    }

    @include atom(float) {
      @include variant(left, none, right) {
        float: #{$variant};
      }
    }

    @include atom(clear) {
      @include variant(both, left, none, right) {
        clear: #{$variant};
      }

      @include variant(fix) {
        &:after {
          clear:   both;
          content: "";
          display: block;
        }
      }
    }



    @include atom(fixed, relative, sticky) {
      position: #{$atom};
    }

    @include atom(absolute) {
      position: #{$atom};

      @include variant(center) {
        @extend #{$variant-parent};

        left:      50%;
        top:       50%;
        transform: translate(-50%, -50%);
      }
    }

    @include atom(top, right, bottom, left) {
      @include variant-percentages(0, 50, 100) {
        #{$atom}: #{$variant-percentage};
      }
    }



    @include atom(transform) {
      transform: var(#{css-var(&)}); // Allow for inlining.
    }



    @include atom(z-index) {
      @include variant-count(-1, 10, $default: false) {
        --z-index: #{$variant-count};

        z-index: var(--z-index);
      }
    }



    @include atom(visible) {
      opacity:    1;
      visibility: visible;
    }

    @include atom(invisible) {
      opacity:    0;
      visibility: hidden;
    }

    @include atom(opacity) {
      $opacities: 0, 50, 100;

      @include variant-list($opacities, $variant-suffix: '\\%') {
        #{$atom}: calc(var(#{$variant-item}) * 0.01);
      }
    }

    @include atom(overflow) {
      @include variant(auto, hidden, visible) {
        overflow: #{$variant};
      }
    }

    @include atom(scroll) {
      -webkit-overflow-scrolling: touch;

      @include variant(horizontal) {
        @extend #{$variant-parent};

        overflow-x: auto;
        overflow-y: hidden;
      }

      @include variant(vertical) {
        @extend #{$variant-parent};

        overflow-x: hidden;
        overflow-y: auto;
      }

      @include variant(clear) {
        overflow-x: visible;
        overflow-y: visible;
      }
    }



    @include atom(border) {
      @include variant(&, top, right, bottom, left) {
        $strokes: 1, 2, 3, 4, 8;

        @if $variant {
          $variant-modifier: -#{$variant} !global; // With the hyphen.
        }

        @include variant-list($strokes, $variant-suffix: "pt") {
          border#{$variant-modifier}-color: var(--color);
          border#{$variant-modifier}-style: solid;
          border#{$variant-modifier}-width: calc(var(#{$variant-item}) * var(--rem-conversion));
        }

        @include variant(clear) {
          border#{$variant-modifier}-color: initial;
          border#{$variant-modifier}-style: initial;
          border#{$variant-modifier}-width: initial;
        }
      }
    }



    @include atom(height, width) {
      @include increase-specificity(2) {
        @include variant(&, max, min) {
          $atom-property:    css-var(&);
          $atom-placeholder: placeholder(first-selector(&));

          @if $variant {
            $variant-modifier: #{$variant}- !global; // With the hyphen.
          }

          #{$variant-modifier}#{$atom}: var(#{$atom-property}); // Allow for inlining.

          @if $atom == "width" {
            @include variant-percentages {
              @extend #{$atom-placeholder};
            }
          }
          @else {
            @include variant-percentages(0, 50, 100) {
              @extend #{$atom-placeholder};
            }

            // Ratio limits.
            @at-root {
              %#{$atom-breakpoint}layout--ratio--limit--#{$variant-modifier} {
                #{$variant-modifier}width: calc(var(#{$atom-property}) * var(--ratio)); // Derive width from height.

                @if $variant-modifier { // Min/max need a width to work against.
                  width: 100%;
                }
              }

              // Base layout/height (min/max), for inlining.
              #{first-selector(&)}[class*="layout/ratio"] { // A height class plus a ratio class, below.
                @extend %#{$atom-breakpoint}layout--ratio--limit--#{$variant-modifier};
              }
            }
          }

          @include variant(page) {
            @include variant-count($spacing-count--upper, $halves: true) {
              @extend #{$atom-placeholder};

              @if $atom == "width" {
                #{$atom-property}: calc(var(--page-spacing--override, var(--page-spacing--fixed)) * #{$variant-count});
              }
              @else if $atom == "height" {
                #{$atom-property}: calc(var(--page-spacing--override, var(--page-spacing)) * #{$variant-count});

                // Ratio limits.
                @at-root {
                  #{first-selector(&)}[class*="layout/ratio"] {
                    @extend %#{$atom-breakpoint}layout--ratio--limit--#{$variant-modifier};
                  }
                }
              }
            }
          }

          @include variant(baseline) {
            $halves: false;

            @if $atom == "height" and not $variant-modifier {
              $halves: true; // Sponsor logos use half-heights.
            }

            @include variant-count(0, $spacing-count--upper, $halves: $halves) {
              @extend %#{$atom-breakpoint}typography--baseline;
              @extend #{$atom-placeholder};

              // Subtract a shoulder.
              #{$atom-property}: calc((var(--layout--typography--line-height) * #{$variant-count}) - var(--layout--typography--leading-shoulder--override, var(--layout--typography--leading-shoulder)));

              // Ratio limits.
              @if $atom == "height" {
                @at-root {
                  #{first-selector(&)}[class*="layout/ratio"] {
                    @extend %#{$atom-breakpoint}layout--ratio--limit--#{$variant-modifier};
                  }
                }
              }
            }
          }

          @include variant(cap) {
            @include variant-count($spacing-count--upper, $halves: true) {
              @extend %#{$atom-breakpoint}typography--cap;
              @extend #{$atom-placeholder};

              #{$atom-property}: calc(var(--layout--typography--cap-height) * #{$variant-count});

              // Ratio limits.
              @if $atom == "height" {
                @at-root {
                  #{first-selector(&)}[class*="layout/ratio"] {
                    @extend %#{$atom-breakpoint}layout--ratio--limit--#{$variant-modifier};
                  }
                }
              }
            }
          }
        }
      }
    }



    @include atom(margin, padding) {
      $spacing-count--lower: 1;

      @if $atom == "margin" {
        $spacing-count--lower: - $spacing-count--upper; // Margins, uniquely, can be negative.
      }

      @at-root {
        %#{$atom-breakpoint}layout--#{$atom}--page--axes {
          #{$atom}-bottom: var(--#{$atom}--vertical);
          #{$atom}-left:   var(--#{$atom}--horizontal);
          #{$atom}-right:  var(--#{$atom}--horizontal);
          #{$atom}-top:    var(--#{$atom}--vertical);
        }
      }

      @include increase-specificity(2) { // To allow for overriding sequential paragraph spacing (.typography + .typography) which is `0,2,0`.
        @include variant(&, top, right, bottom, left) {
          $atom-property:    css-var(&);
          $atom-placeholder: placeholder(first-selector(&));

          @if $variant {
            $variant-modifier: -#{$variant} !global; // With the hyphen.
          }

          #{$atom}#{$variant-modifier}: var(#{$atom-property}); // Allow for inlining.

          @include variant(page) {
            @include variant-count($spacing-count--lower, $spacing-count--upper, $halves: true) {
              @if $variant-modifier == "-left" or $variant-modifier == "-right" {
                @extend #{$atom-placeholder};

                #{$atom-property}: calc(var(--page-spacing--override, var(--page-spacing--fixed)) * #{$variant-count});
              }
              @else if $variant-modifier == "-top" or $variant-modifier == "-bottom" {
                @extend #{$atom-placeholder};

                #{$atom-property}: calc(var(--page-spacing--override, var(--page-spacing)) * #{$variant-count});
              }
              @else {
                @extend %#{$atom-breakpoint}layout--#{$atom}--page--axes;

                --#{$atom}--horizontal: calc(var(--page-spacing--override, var(--page-spacing--fixed)) * #{$variant-count});
                --#{$atom}--vertical:   calc(var(--page-spacing--override, var(--page-spacing)) * #{$variant-count});
              }
            }
          }

          @include variant(baseline) {
            @if $atom == "padding" {
              $spacing-count--lower: 0;
            }

            @include variant-count($spacing-count--lower, $spacing-count--upper, $sign: true) {
              @extend %#{$atom-breakpoint}typography--baseline;
              @extend #{$atom-placeholder};

              // Add the leading/shoulder.
              #{$atom-property}: calc((var(--layout--typography--line-height) * #{$variant-count}) + (var(--layout--typography--leading-shoulder--override, var(--layout--typography--leading-shoulder)) * #{$variant-sign}));
            }
          }

          @include variant(cap) {
            @include variant-count($spacing-count--lower, $spacing-count--upper, $halves: true) { // TODO: tidy up the halves later
              @extend %#{$atom-breakpoint}typography--cap;
              @extend #{$atom-placeholder};

              #{$atom-property}: calc(var(--layout--typography--cap-height) * #{$variant-count});
            }
          }

          @include variant(clear) { // Reset any of them.
            @extend #{$atom-placeholder};

            #{$atom-property}: initial;
          }
        }
      }
    }



    // This trick only works when width-constrained, but that is most of the time.
    @include atom(ratio) {
      @include increase-specificity(2) {
        @include variant-ratios {
          --ratio: #{$variant-ratio};

          position:    relative;

          &:before { // This pseudo-element “inflates” the space based on the width.
            content:     '';
            display:     block;
            padding-top: calc(1 / var(--ratio) * 100%);
          }

          > * { // Immediate child fills the container.
            bottom:   0;
            height:   100%;
            left:     0;
            position: absolute;
            right:    0;
            top:      0;
            width:    100%;
          }
        }
      }
    }
  }
}
