:root {
  $radius:               0.4rem;
  $thickness:            0.2rem;
  $enlargement:          0.4rem;
  $enlargement--desktop: 2 * $enlargement;

  --focus-radius:     #{$radius};
  --focus-thickness:  #{$thickness};
  --link-enlargement: #{$enlargement};

  @include breakpoint($desktop) {
    --link-enlargement: #{$enlargement--desktop};
  }
}



%__disable--click {
  pointer-events: none;
}

%__disable--drag-select {
  @include browser-prefix(user-drag, none, moz, webkit);
  @include browser-prefix(user-select, none, moz, webkit);
}

%__enable--click {
  pointer-events: auto;
}

%__enable--drag-select {
  @include browser-prefix(user-drag, auto, moz, webkit);
  @include browser-prefix(user-select, auto, moz, webkit);
}



%__cursor-pointer {
  cursor:       pointer;
  touch-action: manipulation;
}

%__tap-highlight {
  -webkit-tap-highlight-color: rgba(var(--color--focus--rgb), var(--color--tap-highlight--alpha));

  // If we specify `ontouchstart` on links, set this to transparent so we can use the normal :active state.
  &[ontouchstart] {
    -webkit-tap-highlight-color: transparent;
  }
}

%__outline {
  outline:  none;
  position: relative;
  z-index:  1; // Positions outline in front of neighboring elements.
}

%__outline--disable {
  outline: none;
}

%__radius {
  border-radius: var(--border-radius, var(--focus-radius)); // Use one from the element, if present.
}

%__focus--shadow { // TODO This name can be just %__focus when we @use.
  box-shadow: 0 0 0 var(--focus-thickness) var(--color--focus);
}

%__focus--shadow--disable {
  box-shadow: none;
}

%__active--background { // TODO Same here.
  background-color: rgba(var(--color--focus--rgb), var(--color--active--alpha));
}

%__active--background--touch {
  background-color: rgba(var(--color--focus--rgb), var(--color--tap-highlight--alpha));
}

%__active--background--disable {
  background-color: transparent;
}



%__link-focus {
  @extend %__tap-highlight;

  &:focus {
    @extend %__outline;
    @extend %__radius;
  }

  // Focus.js 'show-focus' shenanigans to prevent Chrome from displaying focus states on mouse clicks. Only show it for keyboard tabbing.
  .show-focus &:focus {
    @extend %__focus--shadow;
  }

  &:active {
    @extend %__radius;
  }

  // Only on non-touch device (courtesy modernizr), otherwise they are sometimes sticky.
  .no-touchevents &:active {
    @extend %__active--background;
  }

  // Use standard active background if `ontouchstart` is specified.
  .touchevents &[ontouchstart]:active {
    @extend %__active--background--touch;
  }
}

%__link-focus-within {
  &:focus-within {
    @extend %__outline;
    @extend %__radius;
  }

  .show-focus &:focus-within {
    @extend %__focus--shadow;
  }

  // Off on all children.
  * {
    &:focus {
      @extend %__outline--disable;
      @extend %__focus--shadow--disable;
    }
  }
}



.link {
  @include atom(disable) {
    @extend %__disable--click;
    @extend %__disable--drag-select;

    // Shorthand, sometimes makes more sense than applying many “link/disable” atoms directly.
    @include variant(children) {
      * {
        @extend %__disable--click;
        @extend %__disable--drag-select;
      }
    }
  }

  @include atom(enable) {
    @extend %__enable--click;
    @extend %__enable--drag-select;

    @at-root {
      img#{&}[oncontextmenu] { // Only allow clicks (no drag/select), on images that disable the right-click menu.
        @extend %__enable--click;
      }
    }

    @include variant(children) {
      // Only elements we’d expect clicks on.
      a,
      button,
      input,
      p,
      select,
      span,
      textarea {
        @extend %__enable--click;
        @extend %__enable--drag-select;
      }

      img[oncontextmenu] { // Again, only on right-click-disabled images.
        @extend %__enable--click;
      }
    }
  }



  @include atom(cursor) {
    @extend %__cursor-pointer;
  }

  @include atom(focus) {
    @extend %__cursor-pointer;
    @extend %__link-focus;
    @extend %__link-focus-within;

    box-sizing: content-box; // Reset margin/padding outside of any specified height/width.
    display:    inline-flex;
    margin:     calc(-1 * var(--link-enlargement));
    padding:    var(--link-enlargement);
    max-width:  100%;

    > * {
      box-sizing: border-box; // Back inside.
    }

    @include variant(contain) {
      margin-bottom:  calc(-2 * var(--link-enlargement));
      margin-top:     calc(-2 * var(--link-enlargement));
      padding-bottom: calc(2 * var(--link-enlargement));
      padding-top:    calc(2 * var(--link-enlargement));
    }

    // This has to be sorta-repeated because of the selector construction.
    @include variant(children) {
      @extend %__tap-highlight;

      // TODO: Desktop only highlights focus elements; need to replicate
      // mobile behavior (highlights the whole link) on desktop.

      // Nothing on the element itself.
      &:focus {
        @extend %__outline--disable;
      }

      .show-focus &:focus {
        @extend %__focus--shadow--disable;
      }

      .no-touchevents &:active {
        @extend %__active--background--disable;
      }

      // Targeting for “link/focus” descendents, then styled as above.
      &:focus #{$variant-parent} {
        @extend %__radius;
        @extend %__outline;
      }

      .show-focus &:focus #{$variant-parent} {
        @extend %__focus--shadow;
      }

      &:active #{$variant-parent} {
        @extend %__radius;
      }

      .no-touchevents &:active #{$variant-parent} {
        @extend %__active--background;
      }

      .touchevents &[ontouchstart]:active #{$variant-parent} {
        @extend %__active--background--touch;
      }
    }

    @include variant(inline) {
      @extend %__cursor-pointer;
      @extend %__link-focus;

      border-left-color:  transparent;
      border-left-style:  solid;
      border-left-width:  calc(var(--link-enlargement) / 2);
      border-right-color: transparent;
      border-right-style: solid;
      border-right-width: calc(var(--link-enlargement) / 2);
      margin-left:        calc(-1 * var(--link-enlargement) / 2);
      margin-right:       calc(-1 * var(--link-enlargement) / 2);

      .show-focus &:focus {
        @extend #{placeholder("typography/underline:disable")}; // Disables our “underlines” when keyboard-focused.
      }
    }
  }
}
