// TODO Move this to inline/template use.
@keyframes fade-in-out {
  0%   { opacity: 0; }
  13%  { opacity: 1; }
  87%  { opacity: 1; }
  100% { opacity: 0; }
}



.motion{
  @include atom-var {
    @include atom(animation, transition) {
      @include variant(duration, delay) {
        @include variant-timings;
      }

      @include variant(curve) {
        @include variant-easings;
      }
    }

    @include atom(animation) {
      @include variant(fade-in-out) {
        #{__css-var($variant-parent)}: #{$variant};
      }
    }

    @include atom(transition) {
      @include variant(backdrop-filter, bottom, left, max-height, max-width, opacity, right, top, transform, visibility) {
        @include variant(duration, delay) {
          @include variant-timings;
        }

        @include variant(curve) {
          @include variant-easings;
        }
      }
    }
  }

  @include atom(animation) {
    animation-name:             var(#{__css-var(&)});
    animation-delay:            var(#{__css-var(&)}--delay, 0ms);
    animation-duration:         var(#{__css-var(&)}--duration, 0ms);
    animation-timing-function:  var(#{__css-var(&)}--curve, linear);


    @include variant(paused, running) {
      animation-play-state: #{$variant};
    }
  }

  @include atom(transition) {
    transition-property:        -webkit-backdrop-filter,
                                backdrop-filter,
                                bottom,
                                left,
                                max-height,
                                max-width,
                                opacity,
                                right,
                                top,
                                transform,
                                visibility
                                ;
    transition-delay:           var(#{__css-var(&)}--backdrop-filter--delay, var(#{__css-var(&)}--delay, 0ms)),
                                var(#{__css-var(&)}--backdrop-filter--delay, var(#{__css-var(&)}--delay, 0ms)),
                                var(#{__css-var(&)}--bottom--delay,          var(#{__css-var(&)}--delay, 0ms)),
                                var(#{__css-var(&)}--left--delay,            var(#{__css-var(&)}--delay, 0ms)),
                                var(#{__css-var(&)}--max-height--delay,      var(#{__css-var(&)}--delay, 0ms)),
                                var(#{__css-var(&)}--max-width--delay,       var(#{__css-var(&)}--delay, 0ms)),
                                var(#{__css-var(&)}--opacity--delay,         var(#{__css-var(&)}--delay, 0ms)),
                                var(#{__css-var(&)}--right--delay,           var(#{__css-var(&)}--delay, 0ms)),
                                var(#{__css-var(&)}--top--delay,             var(#{__css-var(&)}--delay, 0ms)),
                                var(#{__css-var(&)}--transform--delay,       var(#{__css-var(&)}--delay, 0ms)),
                                var(#{__css-var(&)}--visibility--delay,      var(#{__css-var(&)}--delay, 0ms))
                                ;
    transition-duration:        var(#{__css-var(&)}--backdrop-filter--duration, var(#{__css-var(&)}--duration, 0ms)),
                                var(#{__css-var(&)}--backdrop-filter--duration, var(#{__css-var(&)}--duration, 0ms)),
                                var(#{__css-var(&)}--bottom--duration,          var(#{__css-var(&)}--duration, 0ms)),
                                var(#{__css-var(&)}--left--duration,            var(#{__css-var(&)}--duration, 0ms)),
                                var(#{__css-var(&)}--max-height--duration,      var(#{__css-var(&)}--duration, 0ms)),
                                var(#{__css-var(&)}--max-width--duration,       var(#{__css-var(&)}--duration, 0ms)),
                                var(#{__css-var(&)}--opacity--duration,         var(#{__css-var(&)}--duration, 0ms)),
                                var(#{__css-var(&)}--right--duration,           var(#{__css-var(&)}--duration, 0ms)),
                                var(#{__css-var(&)}--top--duration,             var(#{__css-var(&)}--duration, 0ms)),
                                var(#{__css-var(&)}--transform--duration,       var(#{__css-var(&)}--duration, 0ms)),
                                var(#{__css-var(&)}--visibility--duration,      var(#{__css-var(&)}--duration, 0ms))
                                ;
    transition-timing-function: var(#{__css-var(&)}--backdrop-filter--curve, var(#{__css-var(&)}--curve, linear)),
                                var(#{__css-var(&)}--backdrop-filter--curve, var(#{__css-var(&)}--curve, linear)),
                                var(#{__css-var(&)}--bottom--curve,          var(#{__css-var(&)}--curve, linear)),
                                var(#{__css-var(&)}--left--curve,            var(#{__css-var(&)}--curve, linear)),
                                var(#{__css-var(&)}--max-height--curve,      var(#{__css-var(&)}--curve, linear)),
                                var(#{__css-var(&)}--max-width--curve,       var(#{__css-var(&)}--curve, linear)),
                                var(#{__css-var(&)}--opacity--curve,         var(#{__css-var(&)}--curve, linear)),
                                var(#{__css-var(&)}--right--curve,           var(#{__css-var(&)}--curve, linear)),
                                var(#{__css-var(&)}--top--curve,             var(#{__css-var(&)}--curve, linear)),
                                var(#{__css-var(&)}--transform--curve,       var(#{__css-var(&)}--curve, linear)),
                                var(#{__css-var(&)}--visibility--curve,      var(#{__css-var(&)}--curve, linear))
                                ;
  }
}
