$motion-properties:
  backdrop-filter,
  bottom,
  left,
  max-height,
  max-width,
  opacity,
  right,
  top,
  transform,
  visibility
;

.motion {
  @include atom-var {
    @include atom(animation, transition) {
      @include variant(duration, delay) {
        @include variant-timings;
      }

      @include variant(curve) {
        @include variant-easings;
      }
    }

    @include atom(transition) {
      @include variant($motion-properties...) {
        @include variant(duration, delay) {
          @include variant-timings;
        }

        @include variant(curve) {
          @include variant-easings;
        }
      }
    }
  }

  @include atom(animation) {
    animation-name:            var(#{css-var(&)});
    animation-delay:           var(#{css-var(&)}--delay, 0ms);
    animation-duration:        var(#{css-var(&)}--duration, 0ms);
    animation-timing-function: var(#{css-var(&)}--curve, linear);

    @include variant(paused, running) {
      animation-play-state: #{$variant};
    }
  }

  // Transition is just a single property, so this stack lets us specifify different effects without overwriting any others.
  // Specific effect variables slot in, but when undeclared will fall back to overall/shared values.
  @include atom(transition) {
    $curves:     (); // Set up empty lists.
    $delays:     ();
    $durations:  ();
    $properties: ();

    @each $property in $motion-properties {
      $property-curve:    var(#{css-var(&)}--#{$property}--curve,    var(#{css-var(&)}--curve,    linear));
      $property-delay:    var(#{css-var(&)}--#{$property}--delay,    var(#{css-var(&)}--delay,    0ms));
      $property-duration: var(#{css-var(&)}--#{$property}--duration, var(#{css-var(&)}--duration, 0ms));

      // This one needs a dupe with a vendor prefix, because Safari.
      @if $property == "backdrop-filter" {
        $property-prefixed: -webkit-#{$property};

        $curves:     append($curves,     $property-curve,    $separator: comma); // Shares the classes, repeated.
        $delays:     append($delays,     $property-delay,    $separator: comma);
        $durations:  append($durations,  $property-duration, $separator: comma);
        $properties: append($properties, $property-prefixed, $separator: comma); // Only the property is prefixed.
      }

      $curves:     append($curves,     $property-curve,    $separator: comma);
      $delays:     append($delays,     $property-delay,    $separator: comma);
      $durations:  append($durations,  $property-duration, $separator: comma);
      $properties: append($properties, $property,          $separator: comma);
    }

    transition-delay:           $delays;
    transition-duration:        $durations;
    transition-property:        $properties;
    transition-timing-function: $curves;
  }
}
