@include atom-block(hero) {
  @include atom(image) {
    @include variant(fallback) {
      img {
        --picture--max-height: var(--hero--height--image--ceiling);
      }

      // Our embeds return with these old classes, so cap them as-is for now.
      .ratio-container__square,
      .ratio-container__1-1,
      .ratio-container__4-3,
      .ratio-container__16-9 {
        max-height: var(--hero--height--image--ceiling);
        min-height: var(--hero--height--image--floor);
      }
    }
  }
}
