@mixin type-size($value, $numeric: null) {
  --typography--size: #{$value};

  // Only for smaller size variables. (All these shenanigans are just for more-efficient compiled CSS.)
  @if $value >= 16 and $value <= 24 {
    @if not $numeric { // Named sizes have their own/internal breakpoints.
      @if not $breakpoint--current { // Match to mobile.
        @extend %typography--svg--aliasing;
        @extend %typography--svg--aliasing--high;
      }
      @else { // Match to desktop.
        @extend %#{$breakpoint-prefix}768#{$breakpoint-delimiter}typography--svg--aliasing; // No high, since there are no 3/4x desktop screens (yet).
      }
    }
    @else {
      @if not $breakpoint--current { // First call, outside media query.
        @include atom-breakpoints {
          .#{$atom-breakpoint}#{strip-selector(&)} {
            @extend %#{$atom-breakpoint}typography--svg--aliasing; // Match to media-query-specific extends, below.

            @if not $breakpoint--desktop {
              @extend %#{$atom-breakpoint}typography--svg--aliasing--high; // Even higher densities for mobile.
            }
          }
        }
      }
    }
  }

  + * { // Makes value available to succeeding elements.
    --typography--size--previous: #{$value};
  }
}



.typography {
  @include atom-var {
    @include atom(size) {
      // TODO This should be a map with mobile/desktop sizes, so it can be looped through.

      $small:                      14; // Pulled in from “legacy” type doc.
      $small--desktop:             16;
      $medium:                     16;
      $medium--desktop:            18;
      $large:                      18;
      $large--desktop:             22;
      $extra-large:                24;
      $extra-large--desktop:       40;
      $extra-extra-large:          32;
      $extra-extra-large--desktop: 60;

      $hero:                     36; // Nav-ish.
      $hero--desktop:            80;
      $hero--secondary:          $hero / 2; // 2:1 type relationship.
      $hero--secondary--desktop: $hero--desktop / 2;
      $hero--short:              $extra-large * 2;  // Double “legacy” XL.
      $hero--short--desktop:     $extra-extra-large--desktop * 2; // Double XXL.

      @include variant(small) {
        @include type-size($small); // SCSS can’t dynamically generate/use variable names, thus the repetition.

        --typography--scale--down--2: initial;
        --typography--scale--down:    initial;
        --typography--scale--up:      #{abs($medium/$small)}; // Abs is for SCSS to render as a decimal.

        @include breakpoint($desktop) {
          @include type-size($small--desktop);

          --typography--scale--up:    #{abs($medium--desktop/$small--desktop)};
        }
      }

      @include variant(medium) {
        @include type-size($medium);

        --typography--scale--down--2: var(--typography--scale--down);
        --typography--scale--down:    #{abs($small/$medium)};
        --typography--scale--up:      #{abs($large/$medium)};

        @include breakpoint($desktop) {
          @include type-size($medium--desktop);

          --typography--scale--down:  #{abs($small--desktop/$medium--desktop)};
          --typography--scale--up:    #{abs($large--desktop/$medium--desktop)};
        }
      }

      @include variant(large) {
        @include type-size($large);

        --typography--scale--down--2: #{abs($small/$large)};
        --typography--scale--down:    #{abs($medium/$large)};
        --typography--scale--up:      #{abs($extra-large/$large)};

        @include breakpoint($desktop) {
          @include type-size($large--desktop);

          --typography--scale--down--2: #{abs($small--desktop/$large--desktop)};
          --typography--scale--down:    #{abs($medium--desktop/$large--desktop)};
          --typography--scale--up:      #{abs($extra-large--desktop/$large--desktop)};
        }
      }

      @include variant(extra-large) {
        @include type-size($extra-large);

        --typography--scale--down--2: #{abs($medium/$extra-large)};
        --typography--scale--down:    #{abs($large/$extra-large)};
        --typography--scale--up:      #{abs($extra-extra-large/$extra-large)};

        @include breakpoint($desktop) {
          @include type-size($extra-large--desktop);

          --typography--scale--down--2: #{abs($medium--desktop/$extra-large--desktop)};
          --typography--scale--down:    #{abs($large--desktop/$extra-large--desktop)};
          --typography--scale--up:      #{abs($extra-extra-large--desktop/$extra-large--desktop)};
        }
      }

      @include variant(extra-extra-large) {
        @include type-size($extra-extra-large);

        --typography--scale--down--2: #{abs($large/$extra-extra-large)};
        --typography--scale--down:    #{abs($extra-large/$extra-extra-large)};
        --typography--scale--up:      #{abs($hero/$extra-extra-large)};

        @include breakpoint($desktop) {
          @include type-size($extra-extra-large--desktop);

          --typography--scale--down--2: #{abs($large--desktop/$extra-extra-large--desktop)};
          --typography--scale--down:    #{abs($extra-large--desktop/$extra-extra-large--desktop)};
          --typography--scale--up:      #{abs($hero--desktop/$extra-extra-large--desktop)};
        }
      }

      @include variant(hero) {
        @include type-size($hero);

        @include breakpoint($desktop) {
          @include type-size($hero--desktop);
        }

        @include variant(secondary) {
          @include type-size($hero--secondary);

          @include breakpoint($desktop) {
            @include type-size($hero--secondary--desktop);
          }
        }

        @include variant(short) {
          @include type-size($hero); // No change at mobile 1, too narrow.

          @include breakpoint(375) {
            @include type-size($hero--short);
          }

          @include breakpoint($desktop) {
            @include type-size($hero--short--desktop);
          }
        }
      }
    }
  }

  // Discrete sizes available at our breakpoints.
  @include atom-breakpoints {
    // Icon aliasing tweaks.
    %#{$atom-breakpoint}typography--svg--aliasing {
      --typography--icon--translate-x: -0.5px;
      --typography--icon--translate-y: -0.5px;

      @include retina(2) {
        --typography--icon--translate-x: -0.25px;
        --typography--icon--translate-y: -0.25px;
      }
    }

    %#{$atom-breakpoint}typography--svg--aliasing--high {
      @include retina(3) {
        --typography--icon--translate-x: -0.1666667px;
        --typography--icon--translate-y: -0.1666667px;
      }

      @include retina(4) {
        --typography--icon--translate-x: -0.125px;
        --typography--icon--translate-y: -0.125px;
      }
    }



    @include atom-var {
      @include atom(size) {
        // Allow for per-breakpoint inline overrides.
        --typography--size--override: var(#{css-var(#{$atom-breakpoint}--typography--size)});

        $sizes: 12, 14, 16, 18, 20, 22, 24, 30, 32, 36, 40, 48, 60, 80, 120;

        @each $size in $sizes {
          @include variant(#{$size}pt) {
            @include type-size($size, $numeric: true);
          }
        }
      }
    }
  }
}
