// Atoms for existing sizes.
.typography {
  @include atom(var) {
    @include atom(size) {
      $small:                      14; // Pulled in from “legacy” type doc.
      $small--desktop:             16;
      $medium:                     16;
      $medium--desktop:            18;
      $large:                      18;
      $large--desktop:             22;
      $extra-large:                24;
      $extra-large--desktop:       40;
      $extra-extra-large:          32;
      $extra-extra-large--desktop: 60;

      $hero:                     36; // Nav-ish.
      $hero--desktop:            80;
      $hero--secondary:          $hero / 2; // 2:1 type relationship.
      $hero--secondary--desktop: $hero--desktop / 2;
      $hero--short:              $extra-large * 2;  // Double “legacy” XL.
      $hero--short--desktop:     $extra-extra-large--desktop * 2; // Double XXL.

      @include variant(small) {
        @include type-variable(--typography--size, $small); // SCSS can’t dynamically generate/use variable names, thus the repetition.

        --typography--scale--down--2: initial;
        --typography--scale--down:    initial;
        --typography--scale--up:      #{abs($medium/$small)}; // Abs is for SCSS to render as a decimal.

        @include breakpoint(768) {
          @include type-variable(--typography--size, $small--desktop);

          --typography--scale--up:    #{abs($medium--desktop/$small--desktop)};
        }
      }

      @include variant(medium) {
        @include type-variable(--typography--size, $medium);

        --typography--scale--down--2: var(--typography--scale--down);
        --typography--scale--down:    #{abs($small/$medium)};
        --typography--scale--up:      #{abs($large/$medium)};

        @include breakpoint(768) {
          @include type-variable(--typography--size, $medium--desktop);

          --typography--scale--down:  #{abs($small--desktop/$medium--desktop)};
          --typography--scale--up:    #{abs($large--desktop/$medium--desktop)};
        }
      }

      @include variant(large) {
        @include type-variable(--typography--size, $large);

        --typography--scale--down--2: #{abs($small/$large)};
        --typography--scale--down:    #{abs($medium/$large)};
        --typography--scale--up:      #{abs($extra-large/$large)};

        @include breakpoint(768) {
          @include type-variable(--typography--size, $large--desktop);

          --typography--scale--down--2: #{abs($small--desktop/$large--desktop)};
          --typography--scale--down:    #{abs($medium--desktop/$large--desktop)};
          --typography--scale--up:      #{abs($extra-large--desktop/$large--desktop)};
        }
      }

      @include variant(extra-large) {
        @include type-variable(--typography--size, $extra-large);

        --typography--scale--down--2: #{abs($medium/$extra-large)};
        --typography--scale--down:    #{abs($large/$extra-large)};
        --typography--scale--up:      #{abs($extra-extra-large/$extra-large)};

        @include breakpoint(768) {
          @include type-variable(--typography--size, $extra-large--desktop);

          --typography--scale--down--2: #{abs($medium--desktop/$extra-large--desktop)};
          --typography--scale--down:    #{abs($large--desktop/$extra-large--desktop)};
          --typography--scale--up:      #{abs($extra-extra-large--desktop/$extra-large--desktop)};
        }
      }

      @include variant(extra-extra-large) {
        @include type-variable(--typography--size, $extra-extra-large);

        --typography--scale--down--2: #{abs($large/$extra-extra-large)};
        --typography--scale--down:    #{abs($extra-large/$extra-extra-large)};
        --typography--scale--up:      #{abs($hero/$extra-extra-large)};

        @include breakpoint(768) {
          @include type-variable(--typography--size, $extra-extra-large--desktop);

          --typography--scale--down--2: #{abs($large--desktop/$extra-extra-large--desktop)};
          --typography--scale--down:    #{abs($extra-large--desktop/$extra-extra-large--desktop)};
          --typography--scale--up:      #{abs($hero--desktop/$extra-extra-large--desktop)};
        }
      }

      @include variant(hero) {
        @include type-variable(--typography--size, $hero);

        @include breakpoint(768) {
          @include type-variable(--typography--size, $hero--desktop);
        }
      }

      @include variant(hero--secondary) {
        @include type-variable(--typography--size, $hero--secondary);

        @include breakpoint(768) {
          @include type-variable(--typography--size, $hero--secondary--desktop);
        }
      }

      @include variant(hero--short) {
        @include type-variable(--typography--size, $hero); // No change at mobile 1, too narrow.

        @include breakpoint(375) {
          @include type-variable(--typography--size, $hero--short);
        }

        @include breakpoint(768) {
          @include type-variable(--typography--size, $hero--short--desktop);
        }
      }
    }
  }

  // Discrete sizes available at our breakpoints.
  @include atom-breakpoints {
    @include atom(var) {
      @include atom(size) {
        // Allow for per-breakpoint inline overrides.
        --typography--size--override: var(#{__css-var(#{$atom-breakpoint}--typography--size)});

        @include variant(12, 14, 16, 18, 20, 22, 24, 30, 32, 36, 40, 48, 60, 80, 120) {
          @include type-variable(--typography--size, $variant);
        }
      }
    }
  }
}
