%typography--markdown--base {
  @extend #{placeholder("$typography/baseline:body")};
  @extend #{placeholder("$typography/size:medium")};
  @extend #{placeholder("$typography/weight:regular")};

  // Basics.
  a:not([class]) { // Any unclassed links.
    @extend #{placeholder("link/focus:inline")};
    @extend #{placeholder("typography/underline")};
  }

  strong {
    @extend #{placeholder("$typography/weight:bold")};
    @extend #{placeholder("typography/face")}; // Re-declared for the weight to work.
  }

  p:not([class]) {
    @extend #{placeholder("typography")};

    &:not(:first-child) {
      @extend #{placeholder("layout/margin:top:baseline")};
    }
  }

  blockquote:not([class]) { // Parsed without child <p>.
    @extend #{placeholder("$color/alpha:47%")};
    @extend #{placeholder("$typography/scale:minor")};

    &:not(:first-child) {
      @extend #{placeholder("layout/margin:top:baseline")};
    }

    // “Change-bars” on nested quotes.
    blockquote:not([class]) {
      @extend #{placeholder("layout/padding:left:baseline")};

      background-image:  linear-gradient(var(--color), var(--color)); // Solid color.
      background-repeat: no-repeat;
      background-size:   calc((var(--typography--bullet) / 2) * var(--typography--size) * var(--rem-conversion)) 100%; // Half a bullet wide.
    }
  }



  // Lists.
  ol:not([class]),
  ul:not([class]) {
    &:not(:first-child) {
      @extend #{placeholder("layout/margin:top:baseline")};
    }

    > li {
      @extend #{placeholder("typography")};
      @extend #{placeholder("layout/padding:left:baseline")};

      &:not(:first-child) {
        @extend #{placeholder("layout/margin:top:baseline:0")};
      }

      // With empty lines between list items, they are parsed as nested paragraphs.
      > p,
      > blockquote > p {
        margin-left:  initial; // Reset paragraph width, which is taken out on the list item.
        margin-right: initial;
        width:        100%;
      }

      // And put the shoulders back on direct descendants, space the last one out.
      > p,
      > blockquote,
      > ol,
      > ul {
        &:first-child {
          padding-top: calc(-1 * var(--typography--margin--top));
        }

        &:last-child {
          margin-bottom:  var(--typography--line-height);
          padding-bottom: calc(-1 * var(--typography--margin--bottom));
        }
      }

      // Solo blockquotes without extra space.
      > blockquote:only-child {
        margin-bottom: initial;
      }

      // Fix for weird tools parsing.
      > br + ol,
      > br + ul {
        @include increase-specificity {
          margin-top:  initial;
          padding-top: calc(-1 * var(--typography--margin--top));
        }
      }
    }
  }

  // Numbers.
  ol:not([class]) {
    counter-reset: item;

    > li {
      @extend #{placeholder("layout/relative")};

      counter-increment: item;

      @include increase-specificity(2) {
        margin-top: var(--typography--margin--top); // Since we need to use the before element for the counter, apply its properties here.
      }

      &:not(:first-child) {
        padding-top: var(--layout--typography--leading-shoulder); // And since we use margin for the shoulder, use padding for the baseline spacing.
      }

      &:before {
        @extend #{placeholder("$typography/weight:bold")};
        @extend #{placeholder("layout/absolute")};
        @extend #{placeholder("layout/left:0%")};
        @extend #{placeholder("typography/tabular-numbers")};

        content:    counter(item)'.'; // The number and a period.
        margin-top: initial; // Moved above.
        visibility: visible;
      }
    }
  }

  // Bullets.
  ul:not([class]) {
    > li {
      background-image:    linear-gradient(var(--color), var(--color)); // Solid color.
      background-position:
        calc(-1 * var(--typography--margin--left)) // Counter the typography inset.
        calc((var(--typography--cap-height) * var(--typography--font-size) - var(--typography--bullet--size)) / 2) // Center vertically on cap.
        ;
      background-repeat:   no-repeat;
      background-size:     var(--typography--bullet--size) var(--typography--bullet--size);
    }
  }



  // Code stuff.
  code {
    @extend #{placeholder("typography/code")};
  }

  pre {
    @extend #{placeholder("typography")};
    @extend #{placeholder("layout/margin:top:baseline")};
  }



  // SVGs.
  svg {
    box-sizing: content-box;
  }

  // Wrapped in paragraphs.
  p:not([class]) > svg {
    @extend %typography--shoulder-reset;
    @extend %typography--inset-reset;
  }

  // On their own.
  > svg,
  *:not(p) > svg {
    &:not(:first-child) {
      @extend #{placeholder("layout/margin:top:baseline")};
    }
  }

  // With our height atoms.
  svg[class*="layout/height:baseline"] {
    @extend #{placeholder("layout/block")};

    // Sponsor logos reflect the type scale.
    &[class*="$layout/baseline:exact"] {
      --typography--height--offset: calc(var(--layout--typography--line-height) - var(--layout--typography--leading-shoulder)); // Puts it back on the baseline.

      padding-top:      var(--typography--height--offset);
      transform-origin: bottom left;
      transform:        scale(var(--typography--scale, 1));

      // Extra half-baseline on in-between sizes, to line things up.
      &[class*=".5"] {
        padding-top: calc(var(--typography--height--offset) + var(--layout--typography--line-height) * 0.5);
      }
    }
  }



  // MoMA Links.
  p:not([class]) [data-moma-link] {
    @extend %typography--shoulder-reset;
    @extend %typography--inset-reset;
  }

  p:not([class]) [data-moma-link="button"] {
    @extend #{placeholder("layout/height:baseline:2")};
    
    box-sizing: content-box;
    flex-direction: column;
    justify-content: end;

    @at-root { 
      .\$typography\/baseline\:solid:not(.\$typography\/size\:large)#{&} {
        @extend #{placeholder("layout/height:baseline:3")};

        justify-content: start;
      }
    }
  }

  // TODO Legacy “--split” equivalent (without first-child rules. Maybe `typography/markdown:continued`?
  // TODO Footnotes.
  // TODO Horizontal rules.
  // TODO Tables.
}



%typography--markdown--headers {
  > h2 {
    @extend #{placeholder("$typography/scale:prime")};
    @extend #{placeholder("$typography/weight:bold")};
    @extend #{placeholder("typography")};

    &:not(:first-child) {
      @extend #{placeholder("layout/margin:top:baseline:3")};
    }

    & + p:not([class]) {
      @include increase-specificity {
        @extend #{placeholder("layout/margin:top:baseline:2")};
      }
    }
  }

  > h3 {
    @extend #{placeholder("$typography/scale:major")};
    @extend #{placeholder("$typography/weight:bold")};
    @extend #{placeholder("typography")};

    &:not(:first-child) {
      @extend #{placeholder("layout/margin:top:baseline:2")};
    }
  }

  > h4 {
    @extend #{placeholder("$typography/weight:bold")};
    @extend #{placeholder("typography")};

    &:not(:first-child) {
      @extend #{placeholder("layout/margin:top:baseline")};
    }
  }
}



%typography--markdown--spacing {
  // Width constrain the main text blocks.
  > p:not([class]),
  > blockquote:not([class]),
  > ul:not([class]),
  > ol:not([class]) {
    @include increase-specificity {
      @extend #{placeholder("@480/layout/width:max")};
    }

    --480--layout--width--max: var(--uneven-column-width--main);
  }

  // Spacing rules for blocks
  // block + block, 3 baselines
  // block + inline, 3 baselines
  // inline + block, 3 baselines
  // inline + inline, 1 baseline
  > div {
    &:not(:first-child) {
      @extend #{placeholder("layout/margin:top:baseline:3")};
    }

    &:not([type="inline"]) + p,
    &:not([type="inline"]) + h2,
    &:not([type="inline"]) + h3,
    &:not([type="inline"]) + h4,
    &:not([type="inline"]) + ol,
    &:not([type="inline"]) + ul,
    &:not([type="inline"]) + blockquote {
      @include increase-specificity(2) {
        @extend #{placeholder("layout/margin:top:baseline:3")};
      }
    }
  }

  > div[type="inline"] + div[type="inline"],
  > p:not([class]) + div[type="inline"],
  > h2:not([class]) + div[type="inline"],
  > h3:not([class]) + div[type="inline"],
  > h4:not([class]) + div[type="inline"],
  > ol:not([class]) + div[type="inline"],
  > ul:not([class]) + div[type="inline"],
  > blockquote:not([class]) + div[type="inline"] {
    @extend #{placeholder("layout/margin:top:baseline:1")};
  }
}



// Fix spacing after disabled elements.
%typography--markdown--disable--reset {
  &:first-child {
    + * {
      @extend #{placeholder("layout/margin:top:clear")};
    }
  }
}



// To prevent Buffy from using elements outside of our set.
%typography--markdown--disable {
  h1,
  h5,
  h6,
  hr,
  table,
  script {
    @extend #{placeholder("layout/none")};
    @extend %typography--markdown--disable--reset;
  }
}

// No hierarchy in basic blocks.
%typography--markdown--disable--headers {
  h2,
  h3,
  h4 {
    @extend #{placeholder("layout/none")};
    @extend %typography--markdown--disable--reset;
  }
}



.typography {
  // Processed markdown blocks which give us classless children.
  @include atom(markdown) {
    @extend %typography--markdown--disable--headers;
    @extend %typography--markdown--disable;
    @extend %typography--markdown--base;
    @extend %typography--markdown--spacing;

    @include variant(headers) {
      @extend %typography--markdown--disable;
      @extend %typography--markdown--headers;
      @extend %typography--markdown--base;
      @extend %typography--markdown--spacing;
    }
  }
}
