$atom-delimiter:       \/;
$atom-var-prefix:      \$;
$variant-delimiter:    \:;
$variant-decimal:      \.;
$breakpoint-prefix:    \@;
$breakpoint-delimiter: #{$atom-delimiter};



@mixin atom($atoms...) {
  @each $atom in $atoms {
    $atom-parent:   strip-selector(first-selector(&)) !global;
    $atom:          #{'' + $atom}     !global; // This concatenation is to clear SCSS compile warnings over certain names (like colors).

    $atom-selector: ".#{$atom-breakpoint}#{$atom-parent}#{$atom-delimiter}#{$atom}";

    // Only insert the breakpoint once.
    @if str-index(#{$atom-parent}, $breakpoint-prefix) {
      $atom-selector: ".#{$atom-parent}#{$atom-delimiter}#{$atom}";
    }

    @at-root {
      #{class-placeholder-list($atom-selector)} {
        @content;
      }
    }
  }
}



@mixin atom-var {
  $atom-selector: ".#{$atom-var-prefix}#{strip-selector(&)}";

  @at-root {
    #{$atom-selector} {
      @content;
    }
  }
}



@mixin atom-breakpoints {
  @at-root {
    $atom-breakpoint: null !global; // Pass back to the call site, starting empty.

    @content; // Mobile first.

    @each $direction, $breakpoint in $breakpoints {
      @each $name, $break in $breakpoint {
        @if $direction == width {
          @include breakpoint($name) {
            $atom-breakpoint: #{$breakpoint-prefix}#{$name}#{$breakpoint-delimiter} !global; // Pass back.

            @content;
          }
        }
        @else {
          // Render landscape queries after widths, for specificity.
          // These are used sparingly, when we care more about overall viewport shape more than width—like Collection objects, video heroes, etc.
          @include breakpoint(landscape) {
            $atom-breakpoint: #{$breakpoint-prefix}#{$breakpoint--current}#{$breakpoint-delimiter} !global;

            @content;

            @include breakpoint($desktop) {
              $atom-breakpoint: #{$atom-breakpoint}#{$breakpoint--current}#{$breakpoint-delimiter} !global; // Nested/appended.

              @content;
            }
          }
          // Then our lone height.
          @include breakpoint($desktop) { // Only meaningful on desktop.
            @include breakpoint(tall) {
              $atom-breakpoint: #{$breakpoint-prefix}#{$breakpoint--current}#{$breakpoint-delimiter} !global;

              @content;
            }
          }
        }
      }
    }

    $atom-breakpoint: '' !global; // Clears after we run so that the atom mixin can use this when not in a breakpoint.
  }
}
