$breakpoint__mobile:       32rem;    // iPhones …/5/SE.
$breakpoint__mobile--1-25: 36rem;    // Most Androids.
$breakpoint__mobile--1-5:  37.5rem;  // iPhones 6/7/8/X.
$breakpoint__mobile--1-75: 41.2rem;  // iPhones Plus/Max, Pixels.
$breakpoint__mobile--2:    48.0rem;
$breakpoint__mobile--2-5:  56.8rem;  // Landscape iPhones …/5/SE.
$breakpoint__mobile--3:    60rem;
$breakpoint__mobile--3-5:  66.7rem;  // Landscape iPhones 6/7/8.
$breakpoint__mobile--3-75: 72.4rem;  // Landscape iPhone X.
$breakpoint__nonmobile:    76.8rem;  // Portrait iPad.
$breakpoint__nonmobile--2: 102.4rem; // Landscape iPad.
$breakpoint__nonmobile--3: 128rem;
$breakpoint__nonmobile--4: 144rem;

$breakpoint__max:  200rem; // Rights-maximum.
$breakpoint__tall: 90rem;

$breakpoints: (
  width: (
    "mobile:1.25": $breakpoint__mobile--1-25,
    "mobile:1.5":  $breakpoint__mobile--1-5,
    "mobile:1.75": $breakpoint__mobile--1-75,
    "mobile:2":    $breakpoint__mobile--2,
    "mobile:2.5":  $breakpoint__mobile--2-5,
    "mobile:3":    $breakpoint__mobile--3,
    "mobile:3.5":  $breakpoint__mobile--3-5,
    "mobile:3.75": $breakpoint__mobile--3-75,
    "nonmobile":   $breakpoint__nonmobile,
    "nonmobile:2": $breakpoint__nonmobile--2,
    "nonmobile:3": $breakpoint__nonmobile--3,
    "nonmobile:4": $breakpoint__nonmobile--4,
    "max":         $breakpoint__max
  ),
  height: (
    "tall": $breakpoint__tall
  )
);

$breakpoints--limited: (
  width: (
    "nonmobile": $breakpoint__nonmobile
  )
);

$breakpoint: null !default; // Empty, used for current one.



@mixin breakpoint($break) {
  $breakpoint: $break !global; // Pass back, for determinine if you are in a media directive.

  @media (min-width: px-convert($break)) {
    @content;
  }

  $breakpoint: null !global; // Reset.
}

@mixin breakpoint--height($break) {
  $breakpoint: $break !global; // Pass back.

  @media (min-height: px-convert($break)) {
    @content;
  }

  $breakpoint: null !global; // Reset.
}

@mixin breakpoint--landscape {
  $breakpoint: landscape !global; // Pass back.

  @media (orientation: landscape) {
    @content;
  }

  $breakpoint: null !global; // Reset.
}
