@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function str-replace-multiple($string, $searches, $replace-root: '', $prepend-search: false) {
  $replaced-string: $string;

  @each $search in $searches {
    $replace: $replace-root;

    @if $prepend-search {
      $replace: #{$replace}#{$search};
    }

    $replaced-string: str-replace($replaced-string, $search, $replace);
  }

  @return $replaced-string;
}

@function str-split($string, $separator, $list-separator: comma) {
    $string-list: ();
    $index : str-index($string, $separator);

    @while $index != null {
      $string-item: str-slice($string, 1, $index - 1);
      $string-list: append($string-list, $string-item);
      $string: str-slice($string, $index + str-length($separator));
      $index : str-index($string, $separator);
    }

    $string-list: append($string-list, $string, $list-separator);

    @return $string-list;
}



@function split-chained-selector($selector) {
  $delimiter: ', ';

  @return str-split(#{$selector}, $delimiter);
}

@function first-selector($selector) {
  $selector: nth(split-chained-selector($selector), 1);

  @if $selector {
    @return nth(simple-selectors(#{$selector}), 1); // First part of compound selector.
  }
  @else {
    @return null;
  }
}

@function remove-first-selector($selector) {
  $selector: nth(split-chained-selector($selector), 1);

  @if $selector and length(simple-selectors(#{$selector})) > 1 { // Check for compound selectors.
    @return str-replace(#{$selector}, first-selector(#{$selector}), ''); // Remove the first one.
  }
  @else {
    @return null;
  }
}

@function strip-selector($selector) {
  @if str-index(#{$selector}, ".") == 1 or str-index(#{$selector}, "#") == 1 {
    $selector: str-slice(#{$selector}, 2); // Slice off selector character.
  }

  @return $selector;
}



@function reverse($list) {
   $reversed-list: ();

   @for $i from length($list) * -1 through -1 {
      $reversed-list: append($reversed-list, nth($list, abs($i)), $separator: comma);
   }
   @return $reversed-list;
}



@function hex-to-rgb($color) {
  @return #{red($color)}, #{green($color)}, #{blue($color)};
}



@mixin increase-specificity($level: 1) {
  $increase: "";

  @while $level > 0 {
    $increase: "#{$increase}:not(._)"; // This this adds one level of class specificity (0, +1, 0).;
    $level:    $level - 1;
  }

  &#{$increase} {
    @content;
  }
}



@function class($selector) {
  // This one makes a compiled class by escaping. (Used to extend base elements, like typography, in Acme.)
  $reserved:
    str-replace(#{$breakpoint-prefix}, '\\'),
    str-replace(#{$breakpoint-delimiter}, '\\'),
    str-replace(#{$variant-delimiter}, '\\'),
    str-replace(#{$atom-delimiter}, '\\'),
    str-replace(#{$atom-var-prefix}, '\\'),
    '.',
    '(',
    ')',
    '%'
  ;

  @return ".#{str-replace-multiple(#{$selector}, $reserved, '\\', true)}";
}

@function placeholder($selector) {
  // Our un-escaped delimiters and CSS syntax.
  $reserved:
    str-replace(#{$breakpoint-prefix}, '\\'),
    str-replace(#{$breakpoint-delimiter}, '\\'),
    str-replace(#{$variant-delimiter}, '\\'),
    str-replace(#{$atom-delimiter}, '\\'),
    str-replace(#{$atom-var-prefix}, '\\'),
    '.',
    '(',
    ')',
    '%'
  ;

  // Toss the first "." and un-escape the rest.
  $selector: str-replace(strip-selector(#{$selector}), '\\');

  @return "%#{str-replace-multiple(#{$selector}, $reserved, '--')}";
}

@function class-placeholder-list($selectors) {
  $classes:      ();
  $placeholders: ();
  $selectors:    split-chained-selector(#{$selectors});

  // Split out classes.
  @each $selector in $selectors {
    @if str-index(#{$selector}, ".") == 1 {
      $classes: append($classes, $selector, $separator: comma);
    }
    @else if str-index(#{$selector}, "%") == 1 {
      $placeholders: append($placeholders, $selector, $separator: comma);
    }
  }

  @if length($classes) > 0 {
    // Make classes into placeholders.
    @each $class in $classes {
      $placeholder: placeholder(first-selector($class));

      // If there aren’t any placeholders, or there isn’t already this one.
      @if length($placeholders) == 0 or str-index(#{$placeholders}, $placeholder) == null {
        $placeholders: append($placeholders, $placeholder, $separator: comma);
      }
    }

    // Add them back to the selectors.
    $selectors: append($selectors, $placeholders, $separator: comma);
  }

  @return #{$selectors};
}



@function css-var($selector) {
  $delimiters: #{$breakpoint-delimiter}, #{$variant-delimiter}, #{$atom-delimiter}, #{$atom-var-prefix};

  $selector: first-selector($selector);                                 // Safe it for placeholder pairs.
  $selector: strip-selector($selector);                                 // Toss class selector (period).
  $selector: str-replace($selector, #{$breakpoint-prefix}, "");         // Nix breakpoint prefix.
  $selector: str-replace-multiple($selector, #{$variant-decimal}, "-"); // With decimal breaks/values, use a single hyphen.
  $selector: str-replace-multiple($selector, $delimiters, "--");        // Double hyphens for rest.
  $selector: str-replace-multiple($selector, "----", "--");             // But not four, that’d be crazy.

  @if str-index(#{$selector}, "--") == 1 {
    @return #{$selector};
  }
  @else {
    @return --#{$selector};
  }
}

@function __fallback-list($list, $append: null) {
  $fallback: nth($list, 1);

  @each $item in $list {
    $index: index($list, $item);

    @if $index > 1 {
      $fallback: var(#{css-var($item)}, #{$fallback});
    }
  }

  @return $fallback;
}