$default-font-size--preferred: 10px;
$default-font-size--browser:   16px;



// Our base HTML `font-size` is set to 62.5%, so that `1rem` = `10px`. Easy maths.
html {
  @extend %webkit-type-size-adjust; // iOS Safari inflates on device rotation.

  font-size: percentage($default-font-size--preferred / $default-font-size--browser);

  * {
    @extend %webkit-type-size-adjust; // iOS Chrome follows system-wide “Text Size”.
  }
}

%webkit-type-size-adjust {
  -webkit-text-size-adjust: none;
}

* {
  box-sizing: border-box;
}



@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function str-replace-multiple($string, $searches, $replace-root: '', $prepend-search: false) {
  $replaced-string: $string;

  @each $search in $searches {
    $replace: $replace-root;

    @if $prepend-search {
      $replace: #{$replace}#{$search};
    }

    $replaced-string: str-replace($replaced-string, $search, $replace);
  }

  @return $replaced-string;
}

@function str-split($string, $separator, $list-separator: comma) {
    $string-list: ();
    $index : str-index($string, $separator);

    @while $index != null {
      $string-item: str-slice($string, 1, $index - 1);
      $string-list: append($string-list, $string-item);
      $string: str-slice($string, $index + str-length($separator));
      $index : str-index($string, $separator);
    }

    $string-list: append($string-list, $string, $list-separator);

    @return $string-list;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function px-convert($number) {
  @return $default-font-size--preferred * strip-unit($number);
}

@function split-chained-selector($selector) {
  $delimiter: ', ';

  @return str-split(#{$selector}, $delimiter);
}

@function is-compound-selector($selector) {
  $selector: nth(split-chained-selector($selector), 1);

  @if $selector and length(simple-selectors(#{$selector})) > 1 {
    @return true;
  }
  @else {
    @return false;
  }
}

@function first-selector($selector) {
  $selector: nth(split-chained-selector($selector), 1);

  @if $selector {
    @return nth(simple-selectors(#{$selector}), 1); // First part of compound selector.
  }
  @else {
    @return null;
  }
}

@function remove-first-selector($selector) {
  $selector: nth(split-chained-selector($selector), 1);

  @if is-compound-selector($selector) { // Check for compound selectors.
    @return str-replace(#{$selector}, first-selector(#{$selector}), ''); // Remove the first one.
  }
  @else {
    @return null;
  }
}

@function strip-selector($selector) {
  @if str-index(#{$selector}, ".") == 1 or str-index(#{$selector}, "#") == 1 {
    $selector: str-slice(#{$selector}, 2); // Slice off selector character.
  }

  @return $selector;
}

@function reverse($list) {
   $reversed-list: ();

   @for $i from length($list) * -1 through -1 {
      $reversed-list: append($reversed-list, nth($list, abs($i)), $separator: comma);
   }
   @return $reversed-list;
}



@function hex-to-rgb($color) {
  @return #{red($color)}, #{green($color)}, #{blue($color)};
}



// Inserts a selector (generally for a class) above the parent. Hat tip: https://stackoverflow.com/a/30687813
@mixin prepend-parent($prepend-selector) {
  $new-parent-selector-list: ();

  @each $parent-selector in & {
    $target-selector: nth($parent-selector, -1);
    $replacement-index: -1;
    $loop-index: 0;
    $loop-continue: true;

    // Checking for combinators (>, +, ~) to include them with the target selector.
    // This is basically for `main-content`, which uses inheritance for markdown formatting.
    @each $selector in $parent-selector {
      $loop-index: $loop-index + 1;

      @if $loop-continue and (($selector == '>') or ($selector == '+') or ($selector == '~')) {
        $loop-continue: false;
        $replacement-index: $loop-index - 1;
        $target-selector: nth($parent-selector, ($replacement-index));
      }
    }

    $prepended-target-selector: join($prepend-selector, $target-selector);
    $new-parent-selector: set-nth($parent-selector, $replacement-index, $prepended-target-selector);
    $new-parent-selector-list: append($new-parent-selector-list, $new-parent-selector, comma);
  }

  @at-root #{$new-parent-selector-list} {
    @content;
  }
}



@mixin increase-specificity($level: 1) {
  $increase: "";

  @while $level > 0 {
    $increase: "#{$increase}:not(._)"; // This this adds one level of class specificity (0, +1, 0).;
    $level:    $level - 1;
  }

  &#{$increase} {
    @content;
  }
}



@mixin has-sibling-count($count...) {
  @each $number in $count {
    &:first-of-type:nth-last-of-type(#{$number}),
    &:first-of-type:nth-last-of-type(#{$number}) ~ & {
      @content;
    }
  }
}

@mixin has-sibling-count--width($count, $width, $variable: null) {
  @include has-sibling-count($count) {
    width: $width;

    @if $variable {
      #{$variable}: $width;
    }
  }
}

@mixin has-ancestor-count($count, $selector) {
  @each $number in $count {
    #{$selector}:first-of-type:nth-last-of-type(#{$number}) &,
    #{$selector}:first-of-type:nth-last-of-type(#{$number}) ~ #{$selector} & {
      @content;
    }
  }
}



@mixin has-dark-background {
  // This inserts our selector right above the element so we can use this in “legacy-scoped” greenfield, which messes up the “&” parent-selector.
  @include prepend-parent('.has-dark-background') {
    @content;
  }

  // // This should be sufficient when we don’t have to deal with R4 scoping.
  // .has-dark-background & {
  //   @content;
  // }
}
