@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function str-replace-multiple($string, $searches, $replace-root: '', $prepend-search: false) {
  $replaced-string: $string;

  @each $search in $searches {
    $replace: $replace-root;

    @if $prepend-search {
      $replace: #{$replace}#{$search};
    }

    $replaced-string: str-replace($replaced-string, $search, $replace);
  }

  @return $replaced-string;
}

@function str-split($string, $separator, $list-separator: comma) {
    $string-list: ();
    $index : str-index($string, $separator);

    @while $index != null {
      $string-item: str-slice($string, 1, $index - 1);
      $string-list: append($string-list, $string-item);
      $string: str-slice($string, $index + str-length($separator));
      $index : str-index($string, $separator);
    }

    $string-list: append($string-list, $string, $list-separator);

    @return $string-list;
}



@function split-chained-selector($selector) {
  $delimiter: ', ';

  @return str-split(#{$selector}, $delimiter);
}

@function first-selector($selector) {
  $selector: nth(split-chained-selector($selector), 1);

  @if $selector {
    @return nth(simple-selectors(#{$selector}), 1); // First part of compound selector.
  }
  @else {
    @return null;
  }
}

@function remove-first-selector($selector) {
  $selector: nth(split-chained-selector($selector), 1);

  @if $selector and length(simple-selectors(#{$selector})) > 1 { // Check for compound selectors.
    @return str-replace(#{$selector}, first-selector(#{$selector}), ''); // Remove the first one.
  }
  @else {
    @return null;
  }
}

@function strip-selector($selector) {
  @if str-index(#{$selector}, ".") == 1 or str-index(#{$selector}, "#") == 1 {
    $selector: str-slice(#{$selector}, 2); // Slice off selector character.
  }

  @return $selector;
}



@function reverse($list) {
   $reversed-list: ();

   @for $i from length($list) * -1 through -1 {
      $reversed-list: append($reversed-list, nth($list, abs($i)), $separator: comma);
   }
   @return $reversed-list;
}



@function hex-to-rgb($color) {
  @return #{red($color)}, #{green($color)}, #{blue($color)};
}



@mixin increase-specificity($level: 1) {
  $increase: "";

  @while $level > 0 {
    $increase: "#{$increase}:not(._)"; // This this adds one level of class specificity (0, +1, 0).;
    $level:    $level - 1;
  }

  &#{$increase} {
    @content;
  }
}