<section
  class="
    layout/sticky
    layout/top
  "
  style="
    --layout--top: calc(var(--page-spacing) * 2);
    will-change:   top;
  "
  >
  <a class="link/focus" href="index.html">
    <h3 class="$typography/size:extra-large typography">Sol</h3>
  </a>
  <h2 class="$typography/size:large typography layout/margin:top:page:2">Table of Contents</h2>
  
  <h3 class="$typography/size:medium typography layout/margin:top:page"><span class="typography/underline">Atoms</span></h3>
  <ul class="$typography/size:medium layout/grid:1 layout/grid:gap:baseline layout/margin:top:baseline">
    <li><a class="link/focus" href="2-colors.html"><span class="typography">Colors</span></a></li>
    <li><a class="link/focus" href="3-typography.html"><span class="typography">Typography</span></a></li>
    <li><a class="link/focus" href="6-links.html"><span class="typography">Links</span></a></li>
    <li><a class="link/focus" href="7-pictures.html"><span class="typography">Pictures</span></a></li>
  </ul>

  <h3 class="$typography/size:medium typography layout/margin:top:page"><span class="typography/underline">Components</span></h3>
  <ul class="$typography/size:medium layout/grid:1 layout/grid:gap:baseline layout/margin:top:baseline">
    <li><a class="link/focus" href="component-linkcard.html"><span class="typography">Linkcard</span></a></li>
  </ul>
</section>